@{
    ViewBag.Title = "应用类型列表";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_apptype>;
    var listtype = ViewBag.listtype as List<JMP.MDL.jmp_apptype>;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("mobile/APP/AppType.mobile.js")
<div class="mobile-container">
    <div class="toolbar-container">
        <div id="ToolBar" class="frm-dcnt">
            <ul class="frm-ul-tit clearfix">
                @Html.Raw(ViewBag.locUrl)
                <li>
                    <a id="btn-show-search" class="btn" onclick="pop.showSearch('search-container')">查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-container">
        <div class="ui input fluid fluid-block">
            <select name="searchType" id="searchType" class="ui dropdown fluid fluid-block">
                <option value="1" @(ViewBag.type == "1" ? "selected='selected'" : "")>应用类型编号</option>
                <option value="2" @(ViewBag.type == "2" ? "selected='selected'" : "")>应用类型名称</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" />
        </div>
        <div class="ui input fluid fluid-block">
            <select name="SelectState" id="SelectState" class="ui dropdown fluid fluid-block">
                <option value="-1" @(ViewBag.SelectState == -1 ? "selected='selected'" : "")>状态</option>
                <option value="1" @(ViewBag.SelectState == 1 ? "selected='selected'" : "")>正常</option>
                <option value="0" @(ViewBag.SelectState == 0 ? "selected='selected'" : "")>冻结</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <select name="searchDesc" id="searchDesc" class="ui dropdown fluid fluid-block">
                <option value="0" @(ViewBag.searchDesc == 0 ? "selected='selected'" : "")>降序</option>
                <option value="1" @(ViewBag.searchDesc == 1 ? "selected='selected'" : "")>升序</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <select name="yylx" id="yylx" class="ui dropdown fluid fluid-block">
                <option value='-1'>--请选择--</option>
                <option value='0' @(ViewBag.yylx == 0 ? "selected='selected'" : "")>父级</option>
                @{
                    foreach (var iem in listtype)
                    {
                        <option value='@iem.t_id' @(ViewBag.yylx == iem.t_id ? "selected='selected'" : "")>├ @iem.t_name</option>
                    }
                }
            </select>
        </div>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:" onclick="serchlocuser()">查询</a>
    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped white table-cnt" id="table">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" name="all" onclick="checkAll(this)" />
                    </th>
                    <th>应用类型编号</th>
                    <th>排序</th>
                    <th>应用类型名称</th>
                    <th>所属应用类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        var getEdit = bll_limit.GetLocUserLimitVoids("/APP/InsertOrUpdateAddType", JMP.TOOL.UserInfo.UserId.ToString(), JMP.TOOL.UserInfo.UserRoleId);//编辑按钮
                        foreach (var item in list)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="child" class="checkall" value="@item.t_id" />
                                </td>
                                <td>@item.t_id</td>
                                <td>@item.t_sort</td>
                                <td>@item.t_name</td>
                                <td>@item.t_namecj</td>
                                <td>
                                    @{
                                        if (item.t_state == 1)
                                        {
                                            <span class='green'>正常</span>
                                        }
                                        else
                                        {
                                            <span class='red'>冻结</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        
                                        if (getEdit)
                                        {
                                            <a href="javascript:" class='blue' onclick="UpdateUser(@item.t_id)">编辑</a><label>&nbsp;&nbsp;</label>
                                        }
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="center" colspan="7" class="nodata">暂无记录</td>
                                            </tr>
                                        }
                }
            </tbody>
        </table>
    </div>
    @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>