@{
    ViewBag.Title = "查询用户";
    Layout = "~/Views/UI/dialog.mobile.cshtml";
    var userList = ViewBag.list as List<JMP.MDL.jmp_user>;
}

<div class="mobile-popup mobile-container">
    <div class="">
        <div class="ui input fluid fluid-block">
            <select name="s_type" id="s_type" class="ui dropdown fluid fluid-block">
                <option value="0" @(ViewBag.stype == "0" ? "selected='selected'" : "")>邮箱</option>
                <option value="1" @(ViewBag.stype == "1" ? "selected='selected'" : "")>联系电话</option>
                <option value="3" @(ViewBag.stype == "3" ? "selected='selected'" : "")>身份证号</option>
                <option value="6" @(ViewBag.stype == "6" ? "selected='selected'" : "")>营业执照</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <input name="s_keys" id="s_keys" type="text" placeholder="请输入关键字" value="@(!string.IsNullOrEmpty(ViewBag.skeys) ? ViewBag.skeys : "")" />
        </div>
        <div class="ui input fluid fluid-block">
            <select name="s_category" id="s_category" class="ui dropdown fluid fluid-block">
                <option value="" @(ViewBag.scategory == "" ? "selected='selected'" : "")>认证类型</option>
                <option value="0" @(ViewBag.scategory == "0" ? "selected='selected'" : "")>个人</option>
                <option value="1" @(ViewBag.scategory == "1" ? "selected='selected'" : "")>企业</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <select name="s_sort" id="s_sort" class="ui dropdown fluid fluid-block">
                <option value="1" @(ViewBag.s_sort == 1 ? "selected='selected'" : "")>降序</option>
                <option value="0" @(ViewBag.s_sort == 0 ? "selected='selected'" : "")>升序</option>
            </select>
        </div>
        <a id="btn_user_query" class="ui button fluid fluid-block" href="javascript:" onclick="selectUserLiset()">查询</a>
    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped white" id="table">
            <thead>
            <tr>
                <th>选择</th>
                <th>个人信息</th>
            </tr>
            </thead>
            <tbody>
            @{
                if (userList.Count > 0)
                {
                    foreach (var item in userList)
                    {
                        <tr>
                            <td>
                                <a style="cursor: pointer" onclick="yxuzyhuser(@item.u_id, '@item.u_email')">选择</a>
                            </td>
                            <td>
                                <b>邮件地址:</b>@(string.IsNullOrEmpty(item.u_email) ? "---" : item.u_email)<br/>
                                <b>真实姓名:</b>@(string.IsNullOrEmpty(item.u_realname) ? "---" : item.u_realname)<br/>
                                <b>联系电话:</b>@(string.IsNullOrEmpty(item.u_phone) ? "---" : item.u_phone)<br />
                                <b>用户状态:</b>@(item.u_state == 0 ? Html.Raw("<font color='red'>冻结</font>") : Html.Raw("<font color='green'>正常</font>"))
                                <b>审核状态:</b>@(item.u_auditstate == 0 ? Html.Raw("<font color='orange'>等待审核</font>") : item.u_auditstate == 1 ? Html.Raw("<font color='green'>通过</font>") : Html.Raw("<font color='red'>未通过</font>"))
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td align="center" colspan="7">暂无记录</td>
                    </tr>}
            }
            </tbody>
        </table>
    </div>
    @JMP.TOOL.HtmlPage.MobilePagers("LoadData", ViewBag.CurrPage, ViewBag.PageSize, ViewBag.PageCount)
    <input id="curr_page" type="hidden" value="@ViewBag.CurrPage"/>
</div>
@JMP.TOOL.UserHelper.js("mobile/APP/APP.mobile.js")
<script type="text/javascript">
    //选择每页显示数量
    function pagexz() {
        //每页记录数
        var PageSize = $("#pagexz").val();
        LoadData(1, PageSize);
    }
</script>