@{
    ViewBag.Title = "营收概况";
}
@JMP.TOOL.UserHelper.css("base.css")
@JMP.TOOL.UserHelper.css("user.css")
@JMP.TOOL.UserHelper.js("jquery.js")
@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.js")
@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.theme.zune.js")
@JMP.TOOL.UserHelper.js("plugin/my97datepicker/WdatePicker.js")
@JMP.TOOL.UserHelper.js("base.js")
@JMP.TOOL.UserHelper.js("ysfx/RevenueProfile.js")
<style type="text/css">
    .searchs .form .time {
        width: 110px;
        height: 30px;
        margin: 0;
        text-align: center;
        text-indent: 0;
    }

    .separate {
        float: left;
        margin: 0 5px;
        line-height: 38px;
    }

    .tool {
    }

    .tab-wrap {
    }
</style>

<div class="box_container" id="iframeheight" style="height: 700px">
    <div class="box_header">
        营收概况
        <div class="searchs tool">
            <a class="btn-search-link active" id="date_0">日</a>
            <a class="btn-search-link" id="date_1">周</a>
            <a class="btn-search-link" id="date_2">月</a>
        </div>
    </div>
    <div class="searchs" style="height: 36px;">
        <form class="form" id="form" style="float: left; width: 68%;">
            @{Html.RenderAction("UserAppList", "Home");}
            <span class="separate">&nbsp;</span>
            @*<div class="select">
                <select name="s_state" id="s_state" style="width: 120px; float: left; margin: 0 0 0 5px;">
                    <option value="0" @(Request["s_state"] == "0" ? "selected='selected'" : "")>新增交易用户</option>
                    <option value="1" @(Request["s_state"] == "1" ? "selected='selected'" : "")>活跃交易用户</option>
                </select>
            </div>*@
            <span class="separate">&nbsp;</span>
            <input name="stime" type="text" id="stime" class="time txt box-shadow-1" value="@(string.IsNullOrEmpty(Request["begin"]) ? DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd") : "")" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'etime\')}',minDate:'@DateTime.Now.ToString("yyyy-01-01")',dateFmt:'yyyy-MM-dd'})" />
            <span class="separate">-</span>
            <input name="etime" type="text" id="etime" class="time txt box-shadow-1" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")',dateFmt:'yyyy-MM-dd'})" value="@(string.IsNullOrEmpty(Request["end"]) ? DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") : "")" />
            <a class="btn_search" id="btn_search"></a>
        </form>
        <div class="tab-wrap" style="float: right;">
            <a class="btn-search-link active" id="show_0">交易用户和金额</a>
            <a class="btn-search-link" id="show_1">交易笔数</a>
        </div>
    </div>
    <div id="chart" style="margin: 30px 0 0 10px"></div>
</div>
