@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_order>;
    var paymodeList = ViewBag.paymodeList as List<JMP.MDL.jmp_paymode>;
}

@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.js")
@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.theme.zune.js")
@JMP.TOOL.UserHelper.js("plugin/my97datepicker/WdatePicker.js")

<header class="page-tit">
    <i class="fa fa-bars btn-nav" title="导航"></i>
    <span class="tit">营收列表</span>
</header>
<!--头部 end-->
<section>
    <ul class="frm-ul-tit clearfix">
        
        <li>
            <a id="btn-show-search" onclick="pop.showSearch('search-container')" class="sle-btn">查询</a>
        </li>
    </ul>
    <div class="search-container" style="display:none">
        <div class="rule-single-select">
            <select name="searchType" id="searchType">
                <option value="1" @(ViewBag.searchType == 1 ? "selected=selected" : "")>订单编号</option>
                <option value="4" @(ViewBag.searchType == 4 ? "selected=selected" : "")>支付流水号</option>
                <option value="5" @(ViewBag.searchType == 5 ? "selected=selected" : "")>商家订单号</option>
                <option value="2" @(ViewBag.searchType == 2 ? "selected=selected" : "")>应用名称</option>
                <option value="3" @(ViewBag.searchType == 3 ? "selected=selected" : "")>商品名称</option>
            </select>
        </div>
        <div class="srch-dipt">
            <input name="searchname" id="searchname" type="text" placeholder="请输入关键字" value="@ViewBag.searchname" class="txtipt" />
        </div>
        <div class="rule-single-select">
            <select name="paymode" id="paymode">
                <option value="0" @( ViewBag.paymode == 0 ? "selected=selected" : "")>支付类型</option>
                @{
                    foreach (var em in paymodeList)
                    {
                        <option value="@em.p_id" @( ViewBag.paymode == em.p_id ? "selected=selected" : "")>@em.p_name</option>
                    }
                }
            </select>
        </div>
        <div class="rule-single-select">
            <select name="paymentstate" id="paymentstate">
                <option value="" @( ViewBag.paymentstate == "" ? "selected=selected" : "")>支付状态</option>
                <option value="0" @( ViewBag.paymentstate == "0" ? "selected=selected" : "")>等待支付</option>
                <option value="1" @( ViewBag.paymentstate == "1" ? "selected=selected" : "")>支付成功</option>
                <option value="-1" @( ViewBag.paymentstate == "-1" ? "selected=selected" : "")>支付失败</option>
            </select>
        </div>
        <div id="tztype" class="rule-single-select" style="display: none;">
            <select name="noticestate" id="noticestate">
                <option value="" @(ViewBag.noticestate == "" ? "selected=selected" : "")>通知状态</option>
                <option value="0" @(ViewBag.noticestate == "0" ? "selected=selected" : "")>等待通知</option>
                <option value="2" @(ViewBag.noticestate == "2" ? "selected=selected" : "")>正在通知</option>
                <option value="1" @(ViewBag.noticestate == "1" ? "selected=selected" : "")>通知成功</option>
                <option value="-1" @(ViewBag.noticestate == "-1" ? "selected=selected" : "")>通知失败</option>
            </select>
        </div>
        <div class="date-tool-input-text">
            <input name="stime" type="text"  id="stime" onFocus="WdatePicker({minDate:'2017-11-01',maxDate:'#F{$dp.$D(\'etime\')||\'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")\'}'})" readonly="readonly" class="dataipt txtipt time" value="@ViewBag.stime"  />
        </div>
        <div class="date-tool-input-text">
            <input name="etime" type="text" id="etime" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")'})" readonly="readonly" class="dataipt txtipt" value="@ViewBag.etime" />
        </div>
        <a id="btn_search" class="btn btn-primary" href="javascript:" onclick="selectorderlist()">查询</a>
    </div>
    <div class="table-dcnt">
        <div class="table-container">
            <table class="table-cnt">
                <thead>
                    <tr>
                        <th>展开</th>
                        <th>订单编号</th>
                        <th>应用名称</th>
                        <th>商家订单号</th>
                        <th>支付流水号</th>
                        <th>支付类型</th>
                        <th>支付金额</th>
                        <th>支付状态</th>
                        <th>通知</th>
                        <th>通知状态</th>

                    </tr>
                </thead>
                <tbody>
                    @if (list.Count > 0)
            {
                int id = 0;
                string Icon = "Icon_";
                string Open = "Open_";

                foreach (var item in list)
                {

                    id = id + 1;
                    Icon = "Icon_" + id;
                    Open = "Open_" + id;

                        <tbody>
                            <tr onclick="clickOpen(@id)">
                                <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp;&nbsp;</td>
                                <td>@item.o_code</td>
                                <td>@item.a_name</td>
                                <td>@item.o_bizcode</td>
                                <td>@item.o_tradeno</td>
                                <td>@item.p_name</td>
                                <td>@String.Format("{0:N2}", item.o_price)</td>
                                <td>
                                    @{
                                        if (item.o_state == 1)
                                        {
                                            <span class='green'>支付成功</span>
                                        }
                                        else if (item.o_state == -1)
                                        {
                                            <span class='red'>支付失败</span>
                                        }
                                        else
                                        {
                                            <span class="blue">等待支付</span>
                                        }
                                    }
                                </td>

                                <td>
                                    @{
                                        if (item.o_state == 1 && item.o_noticestate == -1 && (item.o_times >= 9 && item.o_times < 12) && DateTime.Parse(item.o_ptime.ToString("yyyy-MM-dd")) > DateTime.Parse(DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")))
                                        {
                                            <a id="btn_search" class="btn-search" href="javascript:" onclick="Orderrewire('@item.o_code','@item.o_ptime')">重发通知</a>
                                        }
                                        else if (item.o_state == 1 && item.o_noticestate == 1)
                                        {
                                            <span class='green'>已完成 </span>

                                        }
                                        else if (item.o_state == 1 && item.o_noticestate == -1 && item.o_times < 9)
                                        {
                                            <span class='green'>通知中 </span>
                                        }
                                        else if (item.o_state == 1 && item.o_times == 12)
                                        {
                                            <span class='green'>已完成 </span>
                                        }
                                        else if (item.o_state == 1 && DateTime.Parse(item.o_ptime.ToString("yyyy-MM-dd")) <= DateTime.Parse(DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")))
                                        {
                                            <font class='green'>已完成</font>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.o_noticestate == 1)
                                        {
                                            <span class='green'>通知成功</span>
                                        }
                                        else if (item.o_noticestate == -1)
                                        {
                                            <span class='red'>通知失败</span>
                                        }
                                        else if (item.o_noticestate == 0)
                                        {
                                            if (item.o_state == 1)
                                            {
                                                <span class='green'>等待通知</span>
                                            }
                                            else
                                            {
                                                <span>---</span>
                                            }

                                        }
                                        else if (item.o_noticestate == 2)
                                        {
                                            <span class='red'>正在通知</span>
                                        }
                                    }

                                </td>
                            </tr>
                            <!--展开部分-->
                            <tr>
                                <td colspan="10" style="display:none;" name="Open" id="@Open">
                                    <div class="dcnt-tab">
                                        <table class="table-lst">

                                            <tr>
                                                <td>创建时间：@item.o_ctime</td>
                                                <td>支付时间：@(item.o_state == 1 ? item.o_ptime.ToString() : "---")</td>
                                                <td>通知次数：@(item.o_noticestate == 0 ? "---" : item.o_times.ToString())</td>
                                                <td>通知时间：@(item.o_noticestate != 0 ? item.o_noticetimes.ToString() : "---")</td>

                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                                            }
                                        }
                                        else
                                        {
                                            <tbody>
                                                <tr>
                                                    <td align="center" colspan="10" class="nodata">暂无记录</td>
                                                </tr>
                                            </tbody>
                                        }

               
            </table>
        </div>
        @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)

    </div>
</section>

<script type="text/javascript">
    $(function () {
        //验证是否显示通知状态查询
        $('#paymentstate').change(function () {
            var pdzftype = $("#paymentstate").val();
            if (pdzftype == 1) {
                document.getElementById("tztype").style.display = "";
            } else {
                $("#noticestate").val("");
                document.getElementById("tztype").style.display = "none";
            }
        })
        $('#paymentstate').change();
    })
    //分页
    function ArticleManage(pageIndex, pageSize) {
        var url = "/Report/OrderList?pageIndexs=" + pageIndex + "&PageSize=" + pageSize;
        var searchType = $.trim($("#searchType").val());
        var searchname = $.trim($("#searchname").val());
        var stime = $.trim($("#stime").val());
        var etime = $.trim($("#etime").val());
        var paymode = $.trim($("#paymode").val());
        var paymentstate = $.trim($("#paymentstate").val());
        var noticestate = $.trim($("#noticestate").val());
        url += "&searchType=" + $.trim(searchType) + "&searchname=" + $.trim(searchname) + "&stime=" + $.trim(stime) + "&etime=" + $.trim(etime) + "&paymode=" + $.trim(paymode) + "&paymentstate=" + $.trim(paymentstate) + "&noticestate=" + $.trim(noticestate);
        location.href = encodeURI(url);
    }

    //选择每页显示数量
    function pagexz() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }

    //列表查询
    function selectorderlist() {//查询
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }
    //验证是否显示通知状态查询
    function xstztype() {
        var pdzftype = $("#paymentstate").val();
        if (pdzftype == 1) {
            document.getElementById("tztype").style.display = "";
        } else {
            $("#noticestate").val("");
            document.getElementById("tztype").style.display = "none";
        }
    }
    //function execdc() {

    //    var url = "/Report/DcDev?idaa=0"
    //    var searchType = $.trim($("#searchType").val());
    //    var searchname = $.trim($("#searchname").val());
    //    var stime = $.trim($("#stime").val());
    //    var etime = $.trim($("#etime").val());
    //    var paymode = $.trim($("#paymode").val());
    //    var paymentstate = $.trim($("#paymentstate").val());
    //    var noticestate = $.trim($("#noticestate").val());
    //    url += "&searchType=" + $.trim(searchType) + "&searchname=" + $.trim(searchname) + "&stime=" + $.trim(stime) + "&etime=" + $.trim(etime) + "&paymode=" + $.trim(paymode) + "&paymentstate=" + $.trim(paymentstate) + "&noticestate=" + $.trim(noticestate);
    //    if (stime == etime) {
    //        $.post("/Report/pdDcSession", function (data) {
    //            if (data == 1) {
    //                window.parent.ShowMsg("每一分钟只能导出一次数据！", "error", "");
    //                return false;
    //            } else {
    //                location.href = encodeURI(url);
    //            }
    //        })
    //    } else {
    //        window.parent.ShowMsg("每次只能选择一天的数据导出！", "error", "");
    //        return false;
    //    }
    //}

    //重发通知
    function Orderrewire(code, ptime) {
        var url = "/REPORT/Orderrewire";
        var _code = '' + code;
        var data = { code: $.trim(_code), ptime: $.trim(ptime) };
        $.post(url, data, function (retJson) {
            if (retJson.success == 1) {
                window.parent.ShowMsg(retJson.msg, "ok", "");
            }
            else if (retJson.success == 9998) {
                window.parent.ShowMsg(retJson.msg, "error", "");
                return false;
            } else if (retJson.success == 9999) {
                window.parent.ShowMsg(retJson.msg, "error", "");
                window.top.location.href = retJson.Redirect;
                return false;
            } else if (retJson.success == 9997) {
                window.top.location.href = retJson.Redirect;
                return false;
            }
            else {
                window.parent.ShowMsg(retJson.msg, "error", "");
                return false;
            }
        })
    }
</script>
