@{
    ViewBag.Title = "审核代理商";
    Layout = "~/Views/UI/dialog.cshtml";

    var model = ViewBag.model as JMP.MDL.jmp_app;

}
@JMP.TOOL.UserHelper.js("Agent/AgentList.js")
<div class="main">
    <div class="plate-form">
        <input type="hidden" id="userid" value="@ViewBag.userid" />

        <dl>
            <dt>审核状态：</dt>
            <dd>
                <input value="-1" name="u_auditstate" type="radio" id="u_stat1" @(ViewBag.start == -1 ? "checked='checked'" : "") /><label for="u_stat1">未通过</label>
                <input value="0" name="u_auditstate" type="radio" id="u_stat2" @(ViewBag.start == 0 ? "checked='checked'" : "") /><label for="u_stat2">等待审核</label>
                <input value="1" name="u_auditstate" type="radio" id="u_stat3" @(ViewBag.start == 1 ? "checked='checked'" : "") /><label for="u_stat3">通过</label>
            </dd>
        </dl>

    </div>
    <div class="page-footer" style="width: 100%;">
        <div class="btn-listbtn">
            <input type="button" name="btnSave" value="保存" onclick="AgentAuditState()" class="btn btn-primary" id="btn-save-add" />
            <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn yellow" />
        </div>
        <div class="clear"></div>
    </div>
</div>

