@{
    ViewBag.Title = "角色管理列表";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_role>;
    bool getEdit = false;
    bool getEditRole = false;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("mobile/local/locals.mobile.js")
<div class="mobile-container">
    <div class="toolbar-container">
        <div id="ToolBar" class="frm-dcnt">
            <ul class="frm-ul-tit clearfix">
                @Html.Raw(ViewBag.locUrl)
            </ul>
        </div>
    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped white table-cnt" id="table">
            <thead>
                <tr>
                    <th width="100">编号</th>
                    <th>角色名</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (list.Count > 0)
            {
                foreach (var item in list)
                {
                        <tr>
                            <td>@item.r_id</td>
                            <td>@item.r_name</td>
                            <td>@(item.r_state == 1 ? Html.Raw("<span color='green'>正常</span>") : Html.Raw("<span color='red'>锁定</span>"))</td>
                            <td>
                                @{
                                    getEdit = bll_limit.GetLocUserLimitVoids("/ROTE/RoleUpdateAjax", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));
                                    getEditRole = bll_limit.GetLocUserLimitVoids("/ROTE/UpdateRoleLimitAjax", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));
                                    if (getEdit)
                                    {
                                        <a href='javascript:' class='blue' onclick='UpdateRoleDialog(@item.r_id)'>编辑</a>
                                    }
                                    if (getEditRole)
                                    {
                                        <a href='javascript:' class='blue' onclick='UpdateRoleLimitDialog(@item.r_id)'>权限设置</a>
                                    }
                                }
                            </td>
                        </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td align="center" colspan="7" class="nodata">暂无记录</td>
                                        </tr>
                                    }
            </tbody>
        </table>
    </div>

    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
<script type="text/javascript">
    function ArticleManage(pageIndex, pageSize) {
        var url = "/ROTE/RoteList?pageIndexs=" + pageIndex + "&PageSize=" + pageSize;
        location.href = encodeURI(url);
    }
    //选择每页显示数量
    function pagexz() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }
</script>
