@{
    ViewBag.Title = "代付接口信息";
    Layout = "~/Views/UI/master.mobile.cshtml";

    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
    var PayForAnotherInfoList = ViewBag.list as List<JMP.MDL.PayForAnotherInfo>;
}

<div class="main mobile-container">
    <div class="toolbar-container">
        <section class="sct-btn-tit">
            <a id="btn-show-search" class="btn btn-primary" onclick="pop.showSearch('search-container')">查询</a>
        </section>
    </div>
    <div class="search-container">
        <select name="PayType" id="PayType" class="ui dropdown fluid fluid-block">
            <option value="1" @(Request["PayType"] == "1" ? "selected=selected" : "")>代付通道名称</option>
        </select>
        <div class="ui input fluid fluid-block">
            <input name="searchKey" type="text" id="searchKey" placeholder="请输入关键字" value="@Request["searchKey"]" class="txtipt" />
        </div>
        <select name="IsEnabled" id="IsEnabled" class="ui dropdown fluid fluid-block">
            <option value="-1">-启用状态-</option>
            <option value="1" @(ViewBag.IsEnabled == 1 ? "selected=selected" : "")>启用</option>
            <option value="0" @(ViewBag.IsEnabled == 0 ? "selected=selected" : "")>禁用</option>
        </select>
        <a id="btn_search" class="ui button fluid big primary fluid-block" href="javascript:" onclick="PayForAnotherSelect()">查询</a>
    </div>
    <div class="data-table-2 table-container table-responsive">
        <table class="ui celled striped white table-cnt" id="table">
            <thead>
                <tr>
                    <th>代付接口名称</th>
                    <th>上游接口</th>
                    <th>商户号</th>
                    <th>秘钥类型</th>
                    <th>公钥</th>
                    <th>私钥</th>
                    <th>是否启用</th>
                    <th>创建时间</th>
                    <th>创建者</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (PayForAnotherInfoList.Count > 0)
                    {
                        foreach (var item in PayForAnotherInfoList)
                        {
                            <tr>
                                <td>@item.p_InterfaceName</td>
                                <td>@item.ChannelName</td>
                                <td>@item.p_MerchantNumber</td>
                                <td>
                                    @switch (@item.p_KeyType)
                                    {
                                        case 1:
                                            <span class='red'>字符串</span>
                                            break;
                                        case 2:
                                            <span class='green'>路径地址</span>
                                            break;
                                    }
                                </td>
                                <td>@item.p_PublicKey</td>
                                <td>@item.p_PrivateKey</td>
                                <td>@(item.IsEnabled == false ? Html.Raw("<span class='red'>未启用</span>") : Html.Raw("<span class='green'>已启用</span>"))</td>
                                <td>@item.p_appendtime</td>
                                <td>@item.p_append</td>
                                <td>
                                    @{

                                        bool getYes = bll_limit.GetLocUserLimitVoids("/PayForAnother/PayForAnotherYes", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));//启用

                                        bool getNo = bll_limit.GetLocUserLimitVoids("/PayForAnother/PayForAnotherNo", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));//禁用


                                        if (item.IsEnabled == false)
                                        {
                                            if (getYes)
                                            {

                                                <a href="javascript:" class="green" onclick="UpdatePayForAnotherState(1,@item.p_Id)">启用</a>
                                            }
                                        }
                                        else
                                        {
                                            if (getNo)
                                            {
                                                <a href="javascript:" class="blue" onclick="UpdatePayForAnotherState(0,@item.p_Id)">禁用</a>
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="center" colspan="10" class="nodata">暂无记录</td>
                                            </tr>
                                        }

                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
<script type="text/javascript">

    //分页
    function ArticleManage(pageIndex, pageSize) {

        var PayType = $("#PayType").val();
        var searchKey = $("#searchKey").val();
        var IsEnabled = $("#IsEnabled").val();

        var url = "/PayForAnother/PayForAnotherList?pageIndexs=" + pageIndex + "&PageSize=" + pageSize;

        if (PayType) {
            url += "&PayType=" + PayType;
        }
        if (searchKey) {
            url += "&searchKey=" + searchKey;
        }
        if (IsEnabled) {
            url += "&IsEnabled=" + IsEnabled;
        }

        location.href = encodeURI(url);
    }

    //选择每页显示数量
    function pagexz() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }

    //查询
    function PayForAnotherSelect() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }

    //启用禁用
    function UpdatePayForAnotherState(state, id) {
        var url = "/PayForAnother/PayForAnotherStart";
        var data = { state: state, ids: id };
        $.post(url, data, function (retJson) {
            if (retJson.success == 1) {
                window.parent.ShowMsg(retJson.msg, "ok", function () { window.parent.global.reload(); window.parent.layer.closeAll(); });
            }
            else {
                window.parent.ShowMsg(retJson.msg, "error", "");
                return false;
            }
        });
    }

</script>