@{
    ViewBag.Title = "流失用户";
    Layout = "~/Views/UI/master.cshtml";
}
@JMP.TOOL.UserHelper.js("fusionchart/fusioncharts.js")
@JMP.TOOL.UserHelper.js("fusionchart/fusioncharts.theme.zune.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main">
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="searchType" id="searchType">
                    <option value="1" @(ViewBag.searchType == 1 ? "selected=selected" : "")>应用名称</option>
                    <option value="2" @(ViewBag.searchType == 2 ? "selected=selected" : "")>开发者邮箱</option>
                </select>
            </div>
        </li>
        <li>
            <input name="searchname" type="text" id="searchname" placeholder="请输入关键字" value="@ViewBag.searchname" class="txtipt" />
        </li>
        <li>
            <input name="stime" type="text" id="stime" class="dataipt txtipt" onFocus="WdatePicker({minDate:'@ViewBag.ksrq',maxDate:'#F{$dp.$D(\'etime\')||\'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")\'}'})" readonly="readonly" value="@ViewBag.stime" />
            <i class="fg">~</i>
            <input name="etime" type="text" id="etime" class="dataipt txtipt" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")'})" readonly="readonly" value="@ViewBag.etime" />
        </li>
        <li>
            <a id="btn_search" class="btn btn-primary" href="javascript:">查询</a>
        </li>
    </ul>
    <div class="plate">
        <div class="tool">
            每日流失
            <ul class="frm-ul frm-ul-tool clearfix">
                <li>
                    <div class="rule-single-select">
                        <select id="sedatatype" onchange="xzselect()">
                            <option value="0">连续7日不登陆</option>
                            <option value="1">连续14日不登陆</option>
                            <option value="2">连续30日不登陆</option>
                        </select>
                    </div>
                </li>
                <li>的</li>
                <li>
                    <div class="rule-single-select">
                        <select id="stype" onchange="xzselect()">
                            <option value="0">新增用户</option>
                            <option value="1">活跃用户</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
        <div id="chartObj" class="chart-main">
            <div id="chart">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function FusionChart() {
        var winHeight = $(window).height() - 160;
        var stime = $.trim($("#stime").val());
        var etime = $.trim($("#etime").val());
        var searchType = $.trim($("#searchType").val());
        var searchname = $.trim($("#searchname").val());
        var sedatatype = $.trim($("#sedatatype").val());
        var stype = $.trim($("#stype").val());
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserReport/defectCount?stime=" + stime + "&etime=" + etime + "&searchname=" + searchname + "&searchType=" + searchType + "&sedatatype=" + sedatatype + "&stype=" + stype,
            success: function (retJson) {
                if (retJson == "0") {
                    $("#chart").html("<div style='font-size:14px;color:#5e788a; font-weight:lighter; text-align:center; width:100%;'>未查询到符合条件的数据</div>");
                } else {
                    var data = eval('(' + retJson + ')');
                    var chart = new FusionCharts({
                        type: "mscombidy2d",
                        renderAt: "chart",
                        width: "100%",
                        height: winHeight + "px",
                        dataSource: data,
                        dataFormat: "json"
                    }).render();
                }
            }
        });
    }
    function xzselect() {
        FusionChart();
    }
    $(function () {
        FusionChart();
        $("#btn_search").click(function () {
            FusionChart();
        })
    });
</script>

