@{
    ViewBag.Title = "添加服务费等级信息";
    Layout = "~/Views/UI/dialog.cshtml";
    var mode = ViewBag.model as JMP.MDL.CoServiceFeeRatioGrade;

}
@JMP.TOOL.UserHelper.js("System/CoServiceFeeRatioGrade.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main">
    <div class="plate-form">
        <dl>
            <dt style="width:160px;">服务费等级名称：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="Name" type="text" id="Name" onblur="yzName()" value="@(!string.IsNullOrEmpty(mode.Name) ? mode.Name : "")" />
                </div>
                <div id="yzName" class="Validform_checktip">*请输入服务费等级名称！</div>
            </dd>
        </dl>
        <dl>
            <dt style="width:160px;">开发者的服务费比例：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="ServiceFeeRatio" type="text" id="ServiceFeeRatio" onblur="YZServiceFeeRatio()" value="@(mode.ServiceFeeRatio.ToString()!=null ? mode.ServiceFeeRatio.ToString() : "")" />
                </div>
                <span class='red'>%</span>
                <div id="YZServiceFeeRatio" class="Validform_checktip">*请输入开发者的服务费比例！</div>
            </dd>
        </dl>
        <dl>
            <dt style="width:160px;">直客提成比例：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="CustomerWithoutAgentRatio" type="text" id="CustomerWithoutAgentRatio" onblur="YZCustomerWithoutAgentRatio()" value="@(mode.CustomerWithoutAgentRatio.ToString()!=null  ? mode.CustomerWithoutAgentRatio.ToString() : "")" />
                </div>
                <span class='red'>%</span>
                <div id="YZCustomerWithoutAgentRatio" class="Validform_checktip">*直客提成比例！</div>
            </dd>
        </dl>
        <dl>
            <dt style="width:160px;">商务对代理商的提成比例：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="BusinessPersonnelAgentRatio" type="text" id="BusinessPersonnelAgentRatio" onblur="YZBusinessPersonnelAgentRatio()" value="@(mode.BusinessPersonnelAgentRatio.ToString()!=null  ? mode.BusinessPersonnelAgentRatio.ToString() : "")" />
                </div>
                <span class='red'>%</span>
                <div id="YZBusinessPersonnelAgentRatio" class="Validform_checktip">*请输入商务对代理商的提成比例！</div>
            </dd>
        </dl>
        <dl>
            <dt style="width:160px;">代理商提成比例：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="AgentPushMoneyRatio" type="text" id="AgentPushMoneyRatio" onblur="YZAgentPushMoneyRatio()" value="@(mode.AgentPushMoneyRatio.ToString()!=null  ? mode.AgentPushMoneyRatio.ToString() : "")" />
                </div>
                <span class='red'>%</span>
                <div id="YZAgentPushMoneyRatio" class="Validform_checktip">*请输入代理商提成比例！</div>
            </dd>
        </dl>
        <dl>
            <dt style="width:160px;">描述信息：</dt>
            <dd>
                <div class="date-tool-input mr10">
                    <div class="date-tool-input-text">
                        <textarea name="Description" type="text" id="Description" class="txt1"> </textarea>
                        @{
                            if (!string.IsNullOrEmpty(mode.Description))
                            {
                                <script type="text/javascript">
                                    document.getElementById("Description").innerText = ' @mode.Description';

                                </script>
                            }
                        }
                        <input type="hidden" id="id" value="@(mode.Id > 0 ? mode.Id : 0)" />                       
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>
<div class="page-footer" style="width: 100%;">
    <div class="btn-listbtn">
        <input type="button" name="btnSaveAdd" value="保存" id="btnSaveAdd" class="btn btn-primary" />
        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn" />
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    //界面加载完成之后执行
    $(document).ready(function () {

    })
</script>
