@{
    ViewBag.Title = "通道池通道管理";
    Layout = "~/Views/UI/master.cshtml";

    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
    var list = ViewBag.list as List<JMP.MDL.jmp_channel_pool>;
    var appmapping = ViewBag.appmapinglist as List<JMP.MDL.jmp_channel_app_mapping>;
    var PoolInterface = ViewBag.PoolInterface as List<JMP.MDL.jmp_channel_pool>;
}
@JMP.TOOL.UserHelper.js("Risk/pool.js")
<div class="main">
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="PoolName" id="PoolName">
                    <option value="1" @(Request["PoolName"] == "1" ? "selected=selected" : "")>通道池名称</option>
                </select>
            </div>
        </li>
        <li>
            <input name="searchKey" type="text" id="searchKey" placeholder="请输入关键字" value="@Request["searchKey"]" class="txtipt" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="IsEnabled" id="IsEnabled">
                    <option value="-1">-启用状态-</option>
                    <option value="1" @(Request["IsEnabled"] == "1" ? "selected=selected" : "")>启用</option>
                    <option value="0" @(Request["IsEnabled"] == "0" ? "selected=selected" : "")>禁用</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btn_search" class="btn btn-primary" href="javascript:" onclick="poolCx()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th>展开</th>
                    <th>通道名称</th>
                    <th>是否启用</th>
                    <th>创建时间</th>
                    <th>创建者ID</th>
                    <th>描述信息</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        int id = 0;
                        string Icon = "Icon_";
                        string Open = "Open_";

                        foreach (var item in list)
                        {
                            id = id + 1;
                            Icon = "Icon_" + id;
                            Open = "Open_" + id;

                            <tr onclick="clickOpen(@id)">
                                <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp;&nbsp; </td>
                                <td>@item.PoolName</td>
                                <td>@(item.IsEnabled == false ? Html.Raw("<span class='red'>未启用</span>") : Html.Raw("<span class='green'>已启用</span>")) </td>
                                <td>@item.CreatedOn</td>
                                <td>@item.u_realname</td>
                                <td>@item.Description</td>

                            </tr>
                            <tr>
                                <td colspan="7" style="display: none;" name="Open" id="@Open">
                                    <div class="dcnt-tab">
                                        <table class="table-lst">
                                            <tr>
                                                <td>
                                                    @{

                                                        var appname = "";
                                                        foreach (var items in appmapping.Where(x => x.ChannelId == item.Id))
                                                        {
                                                            if (!string.IsNullOrEmpty(items.a_name))
                                                            {
                                                                appname += items.a_name + ",";
                                                            }
                                                        }

                                                    }
                                                    应用名称：@appname

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @{

                                                        var corporatename = "";
                                                        foreach (var items in PoolInterface.Where(x => x.Id == item.Id))
                                                        {
                                                            if (!string.IsNullOrEmpty(items.l_corporatename))
                                                            {
                                                                corporatename += items.l_corporatename + ",";
                                                            }
                                                        }

                                                    }
                                                    正常通道：@corporatename
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @{

                                                        var Ccorporatename = "";
                                                        foreach (var items in PoolInterface.Where(x => x.Id == item.Id && x.l_isenable == 3))
                                                        {
                                                            if (!string.IsNullOrEmpty(items.l_corporatename))
                                                            {
                                                                Ccorporatename += items.l_corporatename + ",";
                                                            }
                                                        }

                                                    }
                                                    超额通道：@Ccorporatename
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @{

                                                        var Bcorporatename = "";
                                                        foreach (var items in PoolInterface.Where(x => x.Id == item.Id && x.l_isenable == 4))
                                                        {
                                                            if (!string.IsNullOrEmpty(items.l_corporatename))
                                                            {
                                                                Bcorporatename += items.l_corporatename + ",";
                                                            }
                                                        }

                                                    }
                                                    备用通道：@Bcorporatename
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </td>
                            </tr>


                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td align="center" colspan="7" class="nodata">暂无记录</td>
                                                            </tr>
                                                        }
                }

            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
