@{
    ViewBag.Title = "官网投诉管理";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_gwcomplaint>;
    int pageCount = ViewBag.pageCount;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("NewsRelease/Complaint.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main">
    <ul id="ToolBar" class="frm-ul-tit clearfix">
        @Html.Raw(ViewBag.locUrl)
    </ul>
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="searchType" id="searchType">
                    <option value="1" @(ViewBag.type == 1 ? "selected='selected'" : "")>投诉人姓名</option>
                    <option value="2" @(ViewBag.type == 2 ? "selected='selected'" : "")>电话号码</option>
                    <option value="3" @(ViewBag.type == 3 ? "selected='selected'" : "")>投诉事由</option>
                    <option value="6" @(ViewBag.type == 6 ? "selected='selected'" : "")>处理人</option>
                </select>
            </div>
        </li>
        <li>
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" class="txtipt" />
        </li>
        <li>
            <input name="stime" type="text" id="stime" class="dataipt txtipt" value="@(string.IsNullOrEmpty(ViewBag.stime)? DateTime.Now.ToString("yyyy-MM-dd"):ViewBag.stime)" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'etime\')}',minDate:'@DateTime.Now.ToString("yyyy-01-01")',dateFmt:'yyyy-MM-dd'})" />
            <i class="fg">~</i>
            <input name="etime" type="text" id="etime" class="dataipt txtipt" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.ToString("yyyy-MM-dd")',dateFmt:'yyyy-MM-dd'})" value="@(string.IsNullOrEmpty(ViewBag.etime)? DateTime.Now.ToString("yyyy-MM-dd"):ViewBag.etime)" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="searchDesc" id="searchDesc">
                    <option value="0" @(ViewBag.searchDesc == 0 ? "selected='selected'" : "")>降序</option>
                    <option value="1" @(ViewBag.searchDesc == 1 ? "selected='selected'" : "")>升序</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="auditstate" id="auditstate">
                    <option value="" @(ViewBag.auditstate == "" ? "selected='selected'" : "")>审核状态</option>
                    <option value="0" @(ViewBag.auditstate == "0" ? "selected='selected'" : "")>未处理</option>
                    <option value="1" @(ViewBag.auditstate == "1" ? "selected='selected'" : "")>已处理</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary btn-mgn" href="javascript:" onclick="serchlocuser()">查询</a>
            <a id="btnSearchdc" class="btn btn-primary" href="javascript:" onclick="Searchdc()">导出</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" name="all" onclick="checkAll(this)" />
                    </th>
                    <th width="100">投诉人姓名</th>
                    <th width="100">电话号码</th>
                    <th width="120">投诉事由</th>
                    <th width="120">投诉说明</th>
                    <th width="120">投诉时间</th>
                    <th width="60">状态</th>
                    <th width="120">处理人</th>
                    <th>处理时间</th>
                    <th width="150">处理结果</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            <tr>
                                <td>
                                    @if (Convert.ToInt32(item.state) == 0)
                                    {
                                        <input type="checkbox" name="child" class="checkall" value="@item.id" />
                                    }
                                </td>
                                <td>@item.name</td>
                                <td>@item.telephone</td>
                                <td>@item.reason</td>
                                <td>@item.remarks</td>
                                <td>@item.tjtime.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @{
                                        switch (Convert.ToInt32(item.state))
                                        {

                                            case 0:
                                                <span class='red'>未处理</span>
                                                break;
                                            case 1:
                                                <span class='green'>已处理</span>
                                                break;
                                        }
                                    }

                                </td>

                                <td>@(!string.IsNullOrEmpty(item.cluser) ? item.cluser : "--") </td>
                                <td> @item.cltime</td>
                                <td>@(!string.IsNullOrEmpty(item.result) ? item.result : "--") </td>

                                <td>
                                    @{
                                        bool getEdit = bll_limit.GetLocUserLimitVoids("/NewsRelease/ComplaintCL", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));//编辑按钮
                                        if (getEdit)
                                        {
                                            if (Convert.ToInt32(item.state) == 0)
                                            {
                                                <a href="javascript:" class='blue' onclick="complaintLC(@item.id)">处理</a>
                                            }
                                            else
                                            {
                                                <a>---</a>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="center" colspan="16" class="nodata"> 暂无记录 </td>
                                            </tr>
                                        }

                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, pageCount)
</div>

