@{
    ViewBag.Title = "账单管理";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.CoSettlementDeveloperOverview>;
}
@JMP.TOOL.UserHelper.js("plugin/my97datepicker/WdatePicker.js")
@JMP.TOOL.UserHelper.js("financial/BillList.js")
<div class="box_container">
    <ul class="frm-ul clearfix">
        <li>
            <input name="stime" type="text" id="stime" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'etime\')||\'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")\'}'})" readonly="readonly" class="dataipt txtipt time" value="@ViewBag.stime" />
            <i class="fg">~</i>
            <input name="etime" type="text" id="etime" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")'})" readonly="readonly" class="dataipt txtipt" value="@ViewBag.etime" />
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary" href="javascript:" onclick="SerachBillList()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table class="table-cnt">
            <thead>
                <tr>
                    <th>展开</th>
                    <th>类型</th>
                    <th>账单日期</th>
                    <th>流水金额</th>
                    <th>服务费</th>
                    <th>提成金额</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 1)
                    {
                        int id = 0;
                        string Icon = "Icon_";
                        string Open = "Open_";

                        foreach (var item in list.Where(x => x.DeveloperName != "合计"))
                        {

                            id = id + 1;
                            Icon = "Icon_" + id;
                            Open = "Open_" + id;

                            <tr onclick="clickOpen(@id)">
                                <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp;&nbsp; </td>
                               
                                <td>@(item.relation_type == 1 ? "直客开发者" : "代理商")</td>
                                <td><a onclick="ysBillList('@JMP.TOOL.DESEncrypt.Encrypt(@item.SettlementDay.ToString("yyyy-MM-dd"))')">@item.SettlementDay.ToString("yyyy-MM-dd")</a></td>
                                <td>@TOOL.DecimalDigit.DecimalPlacesToString(item.TotalAmount)</td>
                                <td>@TOOL.DecimalDigit.DecimalPlacesToString(item.ServiceFee)</td>
                                <td>@TOOL.DecimalDigit.DecimalPlacesToString(item.BpPushMoney)</td>
                            </tr>

                               <!--展开-->
                            <tr>
                                <td colspan="6" style="display:none;" name="Open" id="@Open">
                                    <div class="dcnt-tab">
                                        <table class="table-lst">
                                            <tr>
                                                <td>
                                                    @{Html.RenderAction("BillList_Details", "Financial", new { appidType = item.relation_type, SettlementDay = item.SettlementDay.ToString("yyyy-MM-dd") });}
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        }

                        if (ViewBag.total > 0)
                        {
                            var sum = list.FirstOrDefault(x => x.DeveloperName == "合计");
                            <tr>
                                <td></td>
                                <td></td>
                                <td>合计：</td>
                                <td>@(!string.IsNullOrEmpty(sum.TotalAmount.ToString()) ? TOOL.DecimalDigit.DecimalPlacesToString(sum.TotalAmount) : "---")</td>
                                <td>@(!string.IsNullOrEmpty(sum.ServiceFee.ToString()) ? TOOL.DecimalDigit.DecimalPlacesToString(sum.ServiceFee) : "---")</td>
                                <td>@(!string.IsNullOrEmpty(sum.BpPushMoney.ToString()) ? TOOL.DecimalDigit.DecimalPlacesToString(sum.BpPushMoney) : "---")</td>

                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td align="center" colspan="6" class="nodata">暂无记录</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @JMP.TOOL.HtmlPage.UserPagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
    </div>
</div>
