@model List<JMP.Model.MonitorChannel>
@using TOOL;
@using WEB.Extensions
@{
    ViewBag.Title = "通道监控管理";
    Layout = "~/Views/UI/master.mobile.cshtml";
    int pageCount = ViewBag.pageCount;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("mobile/monitorchannel/index.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main mobile-container">
    <div class="toolbar-container">
        <div id="ToolBar" class="frm-dcnt">
            <ul class="frm-ul-tit clearfix">
                @Html.Raw(ViewBag.locUrl)
                <li>
                    <a id="btn-show-search" class="btn" onclick="pop.showSearch('search-container')">查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-container">
        <select name="searchType" id="searchType" class="ui dropdown fluid fluid-block">
            <option value="1" @(ViewBag.type == 1 ? "selected='selected'" : "")>所属通道</option>
        </select>
        <div class="ui input fluid fluid-block">
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" class="txtipt" />
        </div>
        <select name="a_type" id="a_type" class="ui dropdown fluid fluid-block">
       <option value="-1" @(ViewBag.a_type == "" ? "selected='selected'" : "")>监控类型</option>
       <option value="20" @(ViewBag.a_type == "20" ? "selected='selected'" : "")>无订单监控</option>
       </select>
     
        <select name="searchDesc" id="searchDesc" class="ui dropdown fluid fluid-block">
            <option value="0" @(ViewBag.searchDesc == 0 ? "selected='selected'" : "")>降序</option>
            <option value="1" @(ViewBag.searchDesc == 1 ? "selected='selected'" : "")>升序</option>
        </select>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:" onclick="SearcgAppToday()">查询</a>
    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped table-cnt" id="table">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" name="all" onclick="checkAll(this)" />
                    </th>
                    <th style="text-align: left" width="100">所属通道</th>
                    <th style="text-align: left" width="100">监控类型/阀值</th>
                    <th style="text-align: left" width="120">时间段/分钟详细信息</th>
                    <th width="120">创建时间</th>
                    <th width="100">状态</th>
                    <th width="180">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count > 0)
                    {
                        bool getEdit = bll_limit.GetLocUserLimitVoids("/monitorchannel/edit", JMP.TOOL.UserInfo.UserId.ToString(), JMP.TOOL.UserInfo.UserRoleId);//编辑按钮
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="child" class="checkall" value="@item.a_id" />
                                </td>
                                <td style="text-align: left">@item.a_name</td>
                                <td style="text-align: left">
                                    @Html.Raw(item.a_type.ConvertMonitorChannelTypeToString(item.Threshold))
                                </td>
                                <td style="text-align: left">
                                    @{
                                        var str = new List<string>();
                                        var timeRanges = item.a_time_range.ParseAppMonitorTimeRangeModel();
                                        if (timeRanges.AppMonitorTimeDay != null)
                                        {
                                            str.Add("时间段一：从" + timeRanges.AppMonitorTimeDay.Start + "点到" + timeRanges.AppMonitorTimeDay.End + "点分钟数：" + timeRanges.AppMonitorTimeDay.Minutes);
                                        }
                                        if (timeRanges.AppMonitorTimeNight != null)
                                        {
                                            str.Add("时间段二：从" + timeRanges.AppMonitorTimeNight.Start + "点到" + timeRanges.AppMonitorTimeNight.End + "点分钟数：" + timeRanges.AppMonitorTimeNight.Minutes);
                                        }
                                        if (timeRanges.AppMonitorTimeCustom != null)
                                        {
                                            str.Add("其他分钟数：" + timeRanges.AppMonitorTimeCustom.Minutes);
                                        }
                                    }
                                    @Html.Raw(string.Join("<br />", str))
                                </td>
                                <td>@item.a_datetime.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @{
                                        if (item.a_state == 1)
                                        {
                                            <span class="green">正常</span>
                                        }
                                        else
                                        {
                                            <span class="red">冻结</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (getEdit)
                                        {
                                            <a href="javascript:" class='blue' onclick="UpdateComplaint(@item.a_id)">编辑</a><label>&nbsp;&nbsp;</label>

                                        }
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="center" colspan="16" class="nodata"> 暂无记录 </td>
                                            </tr>
                                        }

                }
            </tbody>
        </table>
    </div>
    @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
