@{
    ViewBag.Title = "UpdateUsers";
    Layout = "~/Views/UI/dialog.cshtml";
    var data = ViewBag.model as JMP.MDL.jmp_locuser;
}
@JMP.TOOL.UserHelper.js("local/locals.js")
@JMP.TOOL.UserHelper.js("Authentication.js")
<div class="main">
    <div class="plate-form">
        <dl>
            <dt>用户角色：</dt>
            <dd>
                <div class="rule-single-select">
                    <select name="selrole_id" id="selrole_id">
                        @{
                            if (ViewBag.admin == data.u_id)
                            {
                                <option value="1" selected="selected">超级管理员</option>
                            }
                            else
                            {
                                @Html.Raw(ViewBag.rote)
                            }
                        }
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>状态：</dt>
            <dd id="radOrvActnS">
                @Html.Raw(ViewBag.state)
                <input name="inputUid" type="hidden" id="inputUid" value="@data.u_id" />
            </dd>
        </dl>
        <dl>
            <dt>登录名：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputName" type="text" id="inputName" value="@data.u_loginname" onblur="inputCheckName()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkName">* 登录名不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>密码：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputPwd" type="password" id="inputPwd" maxlength="20" value="@JMP.TOOL.DESEncrypt.Decrypt(data.u_pwd)" onblur="inputPwdChange()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="inputPwdtext">* 密码不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>确认密码：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputPwdTrue" type="password" id="inputPwdTrue" maxlength="20" value="@JMP.TOOL.DESEncrypt.Decrypt(data.u_pwd)" onblur="inputPwdChange2()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="inputPwd2text">* 确认密码不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>真实姓名：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputRealname" type="text" id="inputRealname" value="@data.u_realname" onblur="inputCheckRealName()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkRealName">* 真实姓名不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>部门：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputDepartment" type="text" id="inputDepartment" value="@data.u_department" onblur="inputCheckDep()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkDep">* 部门不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>职位：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputPosition" type="text" id="inputPosition" value="@data.u_position" onblur="inputCheckPos()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkPos">* 职位不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>手机号码：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="mobilenumber" type="text" id="mobilenumber" value="@data.u_mobilenumber" onblur="Checkmobilenumber()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="Checkmobilenumber">* 手机号码不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>邮箱地址：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="emailaddress" type="text" id="emailaddress" value="@data.u_emailaddress" onblur="Checkemailaddress()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="Checkemailaddress">* 邮箱地址不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>QQ:</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="qq" type="text" id="qq" value="@data.u_qq" onblur="Checkqq()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="Checkqq">* qq不能为空</div>
            </dd>
        </dl>
    </div>
</div>
<div class="page-footer" style="width: 100%;">
    <div class="btn-listbtn">
        <input type="button" name="btnSave" value="保存" id="btnSave" class="btn btn-primary" onclick="updatelcoaluser()" />
        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn yellow" />
    </div>
    <div class="clear"></div>
</div>
