@{
    ViewBag.Title = "商务信息列表";
    Layout = "~/Views/UI/dialog.mobile.cshtml";

    var bll_list = ViewBag.list as List<JMP.MDL.CoBusinessPersonnel>;
}
@JMP.TOOL.UserHelper.js("mobile/AppUser/AppUserAddBpTc.mobile.js")
@JMP.TOOL.UserHelper.js("mobile/AppUser/appuser.mobile.js")
<div class="mobile-popup mobile-container">
    <div>
        <div class="ui input fluid fluid-block">
            <select name="s_type" id="s_type" class="ui dropdown fluid fluid-block">
                <option value="1" @(ViewBag.stype == "1" ? "selected='selected'" : "")>真实姓名</option>
            </select>
        </div>
        <div class="ui input fluid fluid-block">
            <input name="s_keys" id="s_keys" type="text" placeholder="请输入关键字" value="@(!string.IsNullOrEmpty(ViewBag.skeys) ? ViewBag.skeys : "")" />
        </div>
        <div class="ui input fluid fluid-block">
            <select name="s_state" id="s_state" class="ui dropdown fluid fluid-block">
                <option value="" @(ViewBag.state == "" ? "selected='selected'" : "")>账户状态</option>
                <option value="0" @(ViewBag.state == "0" ? "selected='selected'" : "")>正常</option>
                <option value="1" @(ViewBag.state == "1" ? "selected='selected'" : "")>冻结</option>
            </select>
        </div>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:" onclick="selectAppUserBpTc()">查询</a>
    </div>

    <div class="table-container table-responsive">
        <table class="ui celled striped table-cnt" id="table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>信息</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (bll_list.Count > 0)
                    {


                        foreach (var item in bll_list)
                        {
                            <tr>
                                <td>
                                    <a href="javascript:" class="blue" onclick="selectxzAppUserAgent(@item.Id,'@item.DisplayName')">选择</a>
                                </td>
                                <td>
                                    <b>商务名称：</b> @item.DisplayName<br />
                                    <b>联系电话：</b>@item.MobilePhone<br />
                                    <b>账户状态：</b>@(item.State == 1 ? Html.Raw("<span class='red'>冻结</span>") : Html.Raw("<span class='green'>正常</span>"))<br />
                                </td>


                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td align="center" colspan="4" class="nodata">暂无记录</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.MobilePagers("LoadDataBp", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
