@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/UI/dialog.mobile.cshtml";
    JMP.MDL.jmp_user UModel = (JMP.MDL.jmp_user)ViewBag.UserData;
    string qt_url = (string)ViewBag.UploadUrl;
}
@JMP.TOOL.UserHelper.js("Authentication.js")
@JMP.TOOL.UserHelper.js("mobile/AppUser/appuser.mobile.js")
@JMP.TOOL.UserHelper.js("jquery.ajaxupload.js")
<div class="mobile-popup mobile-container">
    <form id="frm-user-edit" class="ui form" method="post" enctype="multipart/form-data">
        <input name="u_id" id="u_id" type="hidden" value="@(UModel.u_id == null ? 0 : UModel.u_id)" />
        <input name="u_state" id="u_state" type="hidden" value="@(UModel.u_state == null ? 0 : UModel.u_state)" />
        <input name="u_topid" id="u_topid" type="hidden" value="@(UModel.u_topid == null ? 0 : UModel.u_topid)" />
        @*<input name="u_poundage" id="u_poundage" type="hidden" value="@(UModel.u_poundage == null ? 0 : UModel.u_poundage)" />*@
        <dl>
            <dt>认证类别：</dt>
            <dd>
                <div class="field">
                    <select name="u_category" id="u_category" onchange="ChangeType(this)" class="ui dropdown fluid fluid-block">
                        <option value="0" @(UModel.u_category == 0 ? "selected='selected'" : "")>个人</option>
                        <option value="1" @(UModel.u_category == 1 ? "selected='selected'" : "")>企业</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>所属上级：</dt>
            <dd>
                <div class="rule-single-select">
                    <select name="relation_type" id="relation_type">
                        <option value="2" @(UModel.relation_type == 2 ? "selected=selected" : "")>代理商</option>
                        <option value="1" @(UModel.relation_type == 1 ? "selected=selected" : "")>商务</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>所属上级姓名：</dt>
            <dd>
                <div class="single-input normal">

                    <input name="relation_person_name" type="text" id="relation_person_name" value="@(string.IsNullOrEmpty(ViewBag.DisplayName)?"":ViewBag.DisplayName)" onclick="relation_type_add()" />
                    <input type="hidden" name="relation_person_id" id="relation_person_id" value="@UModel.relation_person_id" />
                </div>
                <div class="Validform_checktip" id="relation_person_id_tip">*必选！</div>
            </dd>
        </dl>
        <dl>
            <dt>登录邮件地址：</dt>
            <dd>
                <div class="field">
                    <input name="u_email" type="text" id="u_email" autocomplete="off" onblur="CheckEmail()" value="@(string.IsNullOrEmpty(UModel.u_email) ? "" : UModel.u_email)" />
                </div>
                <div class="Validform_checktip" id="u_email_tip">*必填，登录邮件地址！</div>
            </dd>
        </dl>
        <dl>
            <dt>登录密码：</dt>
            <dd>
                <div class="field">
                    <input name="u_password" type="password" id="u_password" autocomplete="off" onblur="CheckPwd()" value="@(JMP.TOOL.DESEncrypt.Decrypt(string.IsNullOrEmpty(UModel.u_password) ? "" : UModel.u_password))" />
                </div>
                <div class="Validform_checktip" id="u_password_tip">*必填，由6-30个字符组成！</div>
            </dd>
        </dl>
        <dl>
            <dt>@(UModel.u_category == 0 ? "真实姓名：" : "公司名称：")</dt>
            <dd>
                <div class="field">
                    <input name="u_realname" type="text" id="u_realname" onblur="CheckRName()" value="@(string.IsNullOrEmpty(UModel.u_realname) ? "" : UModel.u_realname)" />
                </div>
                <div class="Validform_checktip" id="u_realname_tip">@(UModel.u_category == 0 ? "*必填且1-6位汉字组成！" : "*必填且3-30位汉字组成！")</div>
            </dd>
        </dl>
        <dl>
            <dt>联系电话：</dt>
            <dd>
                <div class="field">
                    <input name="u_phone" type="text" id="u_phone" onblur="CheckPhone()" value="@(string.IsNullOrEmpty(UModel.u_phone) ? "" : UModel.u_phone)" />
                </div>
                <div class="Validform_checktip" id="u_phone_tip">*联系电话为11位手机号！</div>
            </dd>
        </dl>
        <dl>
            <dt>QQ号码：</dt>
            <dd>
                <div class="field">
                    <input name="u_qq" type="text" id="u_qq" onblur="CheckQQ()" value="@(string.IsNullOrEmpty(UModel.u_qq) ? "" : UModel.u_qq)" />
                </div>
                <div class="Validform_checktip" id="u_qq_tip">*必填且纯数字组成，5-16位之间！</div>
            </dd>
        </dl>
        <dl>
            <dt>联系地址：</dt>
            <dd>
                <div class="field">
                    <input name="u_address" type="text" id="u_address" onblur="CheckAddRess()" value="@(string.IsNullOrEmpty(UModel.u_address) ? "" : UModel.u_address)" />
                </div>
                <div class="Validform_checktip" id="u_address_tip">*必填且10-60位之间(一个汉字占两个字符)！</div>
            </dd>
        </dl>
        <dl id="user_idno">
            <dt>身份证号码：</dt>
            <dd>
                <div class="field">
                    <input name="u_idnumber" type="text" id="u_idnumber" onblur="CheckIdno()" value="@(string.IsNullOrEmpty(UModel.u_idnumber) ? "" : UModel.u_idnumber)" maxlength="18" />
                </div>
                <div class="Validform_checktip" id="u_idnumber_tip">*必填，用户身份证号码！</div>
            </dd>
        </dl>
        <dl id="user_yyzz" style="@(UModel.u_category == 1 ? "display:;" : "display:none;")">
            <dt>营业执照：</dt>
            <dd>
                <div class="field">
                    <input name="u_blicensenumber" type="text" id="u_blicensenumber" maxlength="18" onblur="CheckYYZZ()" value="@(string.IsNullOrEmpty(UModel.u_blicensenumber) ? "" : UModel.u_blicensenumber)" />
                </div>
                <div class="Validform_checktip" id="u_blicensenumber_tip">*必填且长度为15或18位！</div>
            </dd>
        </dl>
        <dl>
            <dt id="zjzpname">身份证照片：</dt>
            <dd>
                <div class="upload-certificate">
                    <div class="upload-box" style="width:300px; height:200px;">
                        @{
                            var urlsfz = string.IsNullOrEmpty(UModel.u_photo) ? "" : qt_url + UModel.u_photo;
                        }
                        <img id="certificate" src="@urlsfz" style="width:100%" />
                    </div>
                    <input name="certificatefile" type="file" id="certificatefile" onchange="FileChange()" />
                    <input type="hidden" name="u_photo" id="u_photo" value="@(!string.IsNullOrEmpty(UModel.u_photo) ? UModel.u_photo : "")" />

                </div>
                <div class="Validform_checktip" id="u_photo_tip">*请选择证件图片（.jpg.png.bmp.jpeg）！</div>
            </dd>
        </dl>
        <dl id="qysfz" style="@(UModel.u_category == 1 ? "display:;" : "display:none;")">
            <dt>营业执照照片：</dt>
            <dd>
                <div class="upload-certificate">
                    <div class="upload-box" style="width:300px; height:200px;">
                        @{
                            var urlyyzz = string.IsNullOrEmpty(UModel.u_blicense) ? "" : qt_url + UModel.u_blicense;
                        }
                        <img id="sfzficate" src="@urlyyzz" style="width:100%" />
                    </div>
                    <input name="sfzcertificatefile" type="file" id="sfzcertificatefile" onchange="FileChangeSfz()" />
                    <input type="hidden" name="u_blicense" id="u_blicense" value="@(!string.IsNullOrEmpty(UModel.u_blicense) ? UModel.u_blicense : "")" />
                </div>
                <div class="Validform_checktip" id="sfzficateyy">*请选择证件图片（.jpg.png.bmp.jpeg）！</div>
            </dd>
        </dl>
        <dl id="bank_zhanghu">
            <dt>银行账户：</dt>
            <dd>
                <div class="field">
                    <input name="u_account" type="text" id="u_account" onblur="CheckAccount()" value="@(string.IsNullOrEmpty(UModel.u_account) ? "" : UModel.u_account)" />
                </div>
                <div id="u_account_tip" class="Validform_checktip">*必填，请输入银行卡号！</div>
            </dd>
        </dl>
        <dl id="bank_kaihuren">
            <dt>开户名称：</dt>
            <dd>
                <div class="field">
                    <input name="u_name" type="text" id="u_name" onblur="CheckName()" value="@(string.IsNullOrEmpty(UModel.u_name) ? "" : UModel.u_name)" />
                </div>
                <div class="Validform_checktip" id="u_name_tip">@(UModel.u_category == 0 ? "*必填且1-6位汉字组成！" : "*必填且2-30位汉字组成！")</div>
            </dd>
        </dl>
        <dl id="bank_fenhang">
            <dt>开户行全称：</dt>
            <dd>
                <div class="field">
                    <input name="u_bankname" type="text" id="u_bankname" onblur="CheckBankName()" value="@(string.IsNullOrEmpty(UModel.u_bankname) ? "" : UModel.u_bankname)" />
                </div>
                <div class="Validform_checktip" id="u_bankname_tip">*必填且10-60位之间(一个汉字占两个字符)！</div>
            </dd>
        </dl>
        <div class="page-footer">
            <div class="btn-listbtn">
                <input type="button" name="btnSave" value="保存" onclick="SaveUpdateUser()" class="ui button primary" id="btn-save-edit" />
                <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="ui button" />
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>