@{
    ViewBag.Title = "商务信息列表";
    Layout = "~/Views/UI/dialog.cshtml";

    var bll_list = ViewBag.list as List<JMP.MDL.CoBusinessPersonnel>;

}
@JMP.TOOL.UserHelper.js("AppUser/AppUserAddBpTc.js")
@JMP.TOOL.UserHelper.js("AppUser/appuser.js")
<div class="main">
    <ul id="ToolBar" class="frm-ul-tit clearfix"></ul>
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="s_type" id="s_type">
                    <option value="1" @(ViewBag.stype == "1" ? "selected='selected'" : "")>真实姓名</option>
                </select>
            </div>
        </li>
        <li>
            <input name="s_keys" id="s_keys" type="text" placeholder="请输入关键字" value="@(!string.IsNullOrEmpty(ViewBag.skeys) ? ViewBag.skeys : "")" class="txtipt" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="s_state" id="s_state">
                    <option value="" @(ViewBag.state == "" ? "selected='selected'" : "")>账户状态</option>
                    <option value="0" @(ViewBag.state == "0" ? "selected='selected'" : "")>正常</option>
                    <option value="1" @(ViewBag.state == "1" ? "selected='selected'" : "")>冻结</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary" href="javascript:" onclick="selectAppUserBpTc()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th>账户状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (bll_list.Count > 0)
                    {


                        foreach (var item in bll_list)
                        {
                            <tr>
                                <td>@item.DisplayName</td>
                                <td>@item.MobilePhone</td>
                                <td>
                                    @(item.State == 1 ? Html.Raw("<span class='red'>冻结</span>") : Html.Raw("<span class='green'>正常</span>"))
                                </td>
                                <td>
                                    <a href="javascript:" class="blue" onclick="selectxzAppUserAgent(@item.Id,'@item.DisplayName')">选择</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td align="center" colspan="4" class="nodata">暂无记录</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
