@{
    ViewBag.Title = "支付配置界面";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var mo = ViewBag.mo as JMP.MDL.jmp_interface;
    var paylist = ViewBag.paylist as List<JMP.MDL.jmp_paymode>;
    var yylist = ViewBag.yylist as List<JMP.MDL.jmp_apptype>;
}
@JMP.TOOL.UserHelper.js("mobile/payment/Interface.mobile.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="mobile-container mobile-popup">

    <div class="plate-form  ui form ">
        <div class="field">
            <label>风控类型：</label>
            <select id="l_isenable" class="ui dropdown fluid fluid-block">
                <option value="0" @(mo.l_isenable == 0 ? "selected='selected'" : "")>--通道状态--</option>
                <option value="1" @(mo.l_isenable == 1 ? "selected='selected'" : "")>正常</option>
                <option value="4" @(mo.l_isenable == 4 ? "selected='selected'" : "")>备用</option>
            </select>
            <div class="Validform_checktip" id="l_isenableyy">*风控类型</div>
        </div>
        <div class="field">
            <label>风控类型：</label>
            <select id="l_risk" class="ui dropdown fluid fluid-block" onchange="empty()">
                <option value="-1" @(mo.l_risk == -1 ? "selected='selected'" : "")>--风控类型--</option>
                <option value="0" @(mo.l_risk == 0 ? "selected='selected'" : "")>风险等级</option>
                <option value="1" @(mo.l_risk == 1 ? "selected='selected'" : "")>应用ID</option>
                <option value="2" @(mo.l_risk == 2 ? "selected='selected'" : "")>通道池</option>
            </select>
            <div class="Validform_checktip" id="l_riskyy">*风控类型</div>
        </div>
        <div class="field">
            <label>支付类型：</label>
            <select id="paymodeid" name="paymodeid"class="ui dropdown fluid fluid-block"  onchange="zflxtype()">
                <option value="0">--请选择类型--</option>
                @{
                    foreach (var item in paylist)
                    {
                        <option value="@item.p_id" @(mo.p_type == item.p_id ? "selected='selected'" : "")>@item.p_name</option>
                    }
                }
            </select>
            <div class="Validform_checktip" id="zftypeyy">*支付类型</div>
        </div>
        <div class="field">
            <label>支付通道：</label>
            <div id="paymenttypeht">
                <select name="paymenttype" id="paymenttype" onchange="xzzfpztype()" class="ui dropdown fluid fluid-block">
                    <option value="0">--请选择类型--</option>
                </select>
            </div>
            <div class="Validform_checktip" id="zftdyy">*支付通道</div>
        </div>
        <div class="field" id="yyapp" >
            <label>应用：</label>
            <input name="appName" type="text" id="appName" readonly="readonly" onclick="apptc()" onblur="yzCorporateName()" value="@(string.IsNullOrEmpty(mo.l_apptypeid) ? " ":mo.l_apptypeid)" />
            <div class="Validform_checktip" id="appNameyy">*应用名称</div>
        </div>
        <div class="field">
            <label>申请公司名称</label>
            <input name="zfbName" type="text" id="corporateName" onblur="yzCorporateName()" value="@(string.IsNullOrEmpty(mo.l_corporatename) ? " ":mo.l_corporatename)" />
            <div class="Validform_checktip" id="corporateNameyy">*公司名称</div>
        </div>
        <div id="payconfig">
        </div>
        <div class="field">
            <label>日最大金额(元)：</label>
            <input type="text" maxlength="20" id="l_daymoney" name="l_daymoney" MaxLenth="12" onblur="yzdaymoney()" value="@(mo.l_daymoney>0?mo.l_daymoney.ToString("f0"):" ")" />
            <div class="Validform_checktip" id="daymoneyyy">*日最大金额</div>
        </div>

        <div class="field">
            <label>单笔最小金额(元)：</label>
            <input type="text" maxlength="20" id="l_minimum" name="l_minimum" MaxLenth="12" onblur="yzl_minimum()" value="@(mo.l_minimum>=0?mo.l_minimum.ToString("f0"):"")" />
            <div class="Validform_checktip" id="l_maximumyy">*单笔最小金额</div>
        </div>
        <div class="field">
            <label>单笔最大金额(元)：</label>
            <input type="text" maxlength="20" id="l_maximum" name="l_maximum" MaxLenth="12" onblur="yzl_maximum()" value="@(mo.l_maximum>=0?mo.l_maximum.ToString("f0"):"")" />
            <div class="Validform_checktip" id="l_maximumyy">*单笔最大金额</div>
        </div>

        <div class="field">
            <label>排序</label>
            <input type="text" maxlength="20" id="paypx" name="paypx" onblur="yzpaypx()" value="@(mo.l_sort>0?mo.l_sort.ToString():" ")" />
            <div class="Validform_checktip" id="paypxyy">*排序</div>
        </div>
      
        <input type="hidden" id="lid" value="@(mo.l_id > 0 ? mo.l_id : 0)" />
        <input type="hidden" id="zftdid" value="@(mo.l_paymenttype_id > 0 ? mo.l_paymenttype_id : 0)" />
        <input type="hidden" id="jsonstr" value="@(!string.IsNullOrEmpty(mo.l_jsonstr)?mo.l_jsonstr:"" )" />
    </div>
    <div class="page-footer" style="width: 100%;">
        <div class="btn-listbtn">
            <input type="button" class="large ui primary button" name="btnSave" value="保存" id="btnSavezfpz"  />
            <a href="/payment/InterfaceList" class="large ui primary button"> 取消</a>
        </div>
        <div class="clear"></div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        if(@mo.l_id > 0){
            zflxtype();
        }
    })
</script>
