@{
    ViewBag.Title = "风险等级配置";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_risklevelallocation>;
    var rilist = ViewBag.rilist as List<JMP.MDL.jmp_risklevel>;
    var applist = ViewBag.applist as List<JMP.MDL.jmp_apptype>;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("payment/risklevel.js")
<div class="main">
    <ul id="ToolBar" class="frm-ul-tit clearfix">
        @Html.Raw(ViewBag.locUrl)
    </ul>
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select id="apptypeid">
                    <option value="0" @(ViewBag.apptypeid == 0 ? "selected='selected'" : "")>--应用类型--</option>
                    @{
                        foreach (var im in applist)
                        {
                            <option value="@im.t_id" @(ViewBag.apptypeid == im.t_id ? "selected='selected'" : "")>@im.t_name</option>
                        }
                    }
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select id="risklevelid">
                    <option value="0" @(ViewBag.risklevelid == 0 ? "selected='selected'" : "")>--风险等级--</option>
                    @{
                        foreach (var item in rilist)
                        {
                            <option value="@item.r_id" @(ViewBag.risklevelid == item.r_id ? "selected='selected'" : "")>@item.r_name</option>
                        }
                    }
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select id="state">
                    <option value="-1" @(ViewBag.state == -1 ? "selected='selected'" : "")>--状态--</option>
                    <option value="0" @(ViewBag.state == 0 ? "selected='selected'" : "")>正常</option>
                    <option value="1" @(ViewBag.state == 1 ? "selected='selected'" : "")>冻结</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary" href="javascript:" onclick="serchlocuser()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="all" onclick="checkAll(this)" />
                    </th>
                    <th>编号</th>
                    <th>应用类型</th>
                    <th>风险等级</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    bool getEdit = bll_limit.GetLocUserLimitVoids("/payment/AddRisklevel", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));//编辑按钮
                    foreach (var item in list)
                    {
                        <tr>
                            <td><input type="checkbox" name="child" class="checkall" value="@item.r_id" /></td>
                            <td>@item.r_id</td>
                            <td>@item.t_name</td>
                            <td>@item.r_name</td>
                            <td>
                                @{
                                    if (item.r_state == 0)
                                    {
                                        <span class='green'>正常</span>
                                    }
                                    else
                                    {
                                        <span class='red'>冻结</span>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (getEdit)
                                    {
                                        <a href="javascript:" class='blue' onclick="UpdateEdit(@item.r_id)">编辑</a>
                                    }
                                }
                            </td>
                        </tr>
                                    }

                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
