@{
    ViewBag.Title = "更新权限";
    Layout = "~/Views/UI/dialog.cshtml";
    var data = ViewBag.m_limit as JMP.MDL.jmp_limit;
}
@JMP.TOOL.UserHelper.js("local/BusinessLimit.js")

<div class="main">
    <div class="plate-form">
        <input name="inputLid" type="hidden" id="inputLid" value="@data.l_id" />
        <dl>
            <dt>权限从属：</dt>
            <dd>
                <div class="rule-single-select mr10">
                    <select name="sellimit_id" id="sellimit_id" onchange="updateLimitTopid()">
                        @Html.Raw(ViewBag.selectTopid)
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>状态：</dt>
            <dd id="radOrvActnS">
                <label for="radOrvActnS_0"><input id="radOrvActnS_0" type="radio" name="state" value="1" @(data.l_state == 1 ? "checked=checked" : "") />开启</label>
                <label for="radOrvActnS_1"><input id="radOrvActnS_1" type="radio" name="state" value="0" @(data.l_state == 0 ? "checked=checked" : "") />关闭</label>
            </dd>
        </dl>
        <dl>
            <dt>权限名称：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputName" type="text" id="inputName" value="@data.l_name" onblur="changeName()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkName">* 权限名称不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>权限页面：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputUrl" type="text" id="inputUrl" value="@data.l_url.Split(',')[0]" onblur="changeUrl()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkUrl">* 权限页面不能为空</div>
            </dd>
        </dl>
        @Html.Raw(ViewBag.topid2HtmlVoid)
        <dl>
            <dt>排序：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputValue" type="text" id="inputValue" value="@data.l_sort" onblur="changeValue()" /><span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="checkValue">* 权限值不能为空</div>
            </dd>
        </dl>
        <dl>
            <dt>图标样式：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputIcnn" type="text" id="inputIcnn" value="@data.l_icon" /><span class="ie7-input-bug-end"></span>
                </div>
            </dd>
        </dl>
    </div>
</div>
<div class="page-footer" style="width: 100%;">
    <div class="btn-listbtn">
        <input type="button" name="btnSave" value="保存" id="btnSave" class="btn btn-primary" onclick="updatelimits(@data.l_id)" />
        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn yellow" />
    </div>
    <div class="clear"></div>
</div>
