@{
    ViewBag.Title = "应用列表";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_app>;
    int pageCount = ViewBag.pageCount;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("APP/APP.js")
<div class="main">
    <ul id="ToolBar" class="frm-ul-tit clearfix">
        @Html.Raw(ViewBag.locUrl)
    </ul>
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="searchType" id="searchType">
                    <option value="1" @(ViewBag.type == 1 ? "selected='selected'" : "")>应用编号</option>
                    <option value="2" @(ViewBag.type == 2 ? "selected='selected'" : "")>应用名称</option>
                    <option value="3" @(ViewBag.type == 3 ? "selected='selected'" : "")>所属商户</option>
                    <option value="4" @(ViewBag.type == 4 ? "selected='selected'" : "")>应用KEY</option>
                </select>
            </div>
        </li>
        <li>
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" class="txtipt" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="SelectState" id="SelectState">
                    <option value="-1" @(ViewBag.SelectState == -1 ? "selected='selected'" : "")>状态</option>
                    <option value="1" @(ViewBag.SelectState == 1 ? "selected='selected'" : "")>正常</option>
                    <option value="0" @(ViewBag.SelectState == 0 ? "selected='selected'" : "")>冻结</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="searchDesc" id="searchDesc">
                    <option value="0" @(ViewBag.searchDesc == 0 ? "selected='selected'" : "")>降序</option>
                    <option value="1" @(ViewBag.searchDesc == 1 ? "selected='selected'" : "")>升序</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="auditstate" id="auditstate">
                    <option value="-1" @(ViewBag.auditstate == -1 ? "selected='selected'" : "")>审核状态</option>
                    <option value="0" @(ViewBag.auditstate == 0 ? "selected='selected'" : "")>等待审核</option>
                    <option value="1" @(ViewBag.auditstate == 1 ? "selected='selected'" : "")>审核通过</option>
                    <option value="2" @(ViewBag.auditstate == 2 ? "selected='selected'" : "")>审核未通过</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="auditstate" id="platformid">
                    <option value="0" @(ViewBag.platformid == 0 ? "selected='selected'" : "")>关联平台</option>
                    <option value="1" @(ViewBag.platformid == 1 ? "selected='selected'" : "")>安卓</option>
                    <option value="2" @(ViewBag.platformid == 2 ? "selected='selected'" : "")>苹果</option>
                    <option value="3" @(ViewBag.platformid == 3 ? "selected='selected'" : "")>H5</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary" href="javascript:" onclick="serchlocuser()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table class="table-cnt">
            <thead>
                <tr>
                    <th>应用编号</th>
                    <th>应用名称</th>
                    <th>运行平台</th>
                    <th>所属商户</th>
                    <th>应用类型</th>
                    <th>创建时间</th>
                    <th>审核状态</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            <tr>
                                <td>@item.a_id</td>
                                <td>@item.a_name </td>
                                <td>@item.p_name</td>
                                <td>@item.u_realname</td>
                                <td>@item.t_name</td>
                                <td>@item.a_time.ToString("yyyy-MM-dd")</td>
                                <td>
                                    <div class="green">
                                        @*    @(item.a_state == 1 ? "开启" : "关闭")*@
                                        @{
                                            switch (item.a_auditstate)
                                            {
                                                case 0:
                                                    <span class="blue">等待审核</span>
                                                    break;
                                                case 1:
                                                    <span class="green">审核通过</span>
                                                    break;
                                                case 2:
                                                    <span class="red">审核未通过</span>
                                                    break;
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    @{
                                        switch (item.a_state)
                                        {
                                            case 0:
                                                <span class="red">结冻</span>
                                                break;
                                            case 1:
                                                <span class="blue">正常</span>
                                                break;
                                        }
                                    }
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-id="@item.a_id" class='blue selc'>查看</a>
                                    <a href="javascript:void(0)" data-id="@item.a_id" class='blue edit'>编辑</a>
                                    @if (item.a_auditstate != 1)
                                    {
                                        <a href="javascript:" onclick="DeleteApp(@item.a_id)" class="red">删除</a>
                                    }
                                </td>
                                
                            </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="10" class="nodata">暂无应用</td>
                                                </tr>
                                            }
                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, pageCount)
</div>
<script type="text/javascript">
    function DeleteApp(typeappid) {
        var data = { a_id: $.trim(typeappid) };
        var url = "/App/DeleteApp";
        $.post(url, data, function (retJson) {
            //判断是否登录、报错、有权限
            //CheckJsonData(retJson);
            if (retJson.success == 1) {
                window.parent.ShowMsg(retJson.msg, "ok", function () {window.parent.frames["id_1328"].location.reload()});
                return false;
            }
            else if (retJson.success == 9998) {
                window.parent.ShowMsg(retJson.msg, "error", "");
                return false;
            } else if (retJson.success == 9999) {
                window.parent.ShowMsg(retJson.msg, "error", "");
                window.top.location.href = retJson.Redirect;
                return false;
            } else if (retJson.success == 9997) {
                window.top.location.href = retJson.Redirect;
                return false;
            }
            else {
                window.parent.ShowMsg(retJson.msg, "error", "");
                //location.href = encodeURI("/App/GoodsList?appid=" + retJson.success + "&appname=" + $.trim(appname));
            }
        })
    }


    //tab套用-查看
    $('.table-cnt .selc').click(function () {
        var name = "应用详情";
        var isLeaf = true;//是否套用
        var id =  $(this).attr("data-id");//id
        var href = "/App/Appinfo?appid="+id;//链接
        AddTab(name, isLeaf, href, 'Appinfo'+id,'child');
    })

    //tab套用-编辑
    $('.table-cnt .edit').click(function () {
        var name = "应用编辑";
        var isLeaf = true;//是否套用
        var id =  $(this).attr("data-id");//id
        var href = "/App/UpdateApp?appid="+id;//链接
        AddTab(name, isLeaf, href, 'down'+id,'child');
    })



</script>
