@using TOOL.EnumUtil
@using WEB.Extensions
@{
    ViewBag.Title = "日志管理";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_locuserlog>;
    var dictLogTypes = typeof(AdminLogType).ToDictionary<AdminLogType>();

}
@JMP.TOOL.UserHelper.js("local/locals.js")
<div class="main">
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="searchType" id="searchType">
                    <option value="1" @(string.IsNullOrEmpty(Request["types"]) == true ? "" : "") @(Request["types"] == "1" ? "selected=selected" : "")>管理员编号</option>
                    <option value="2" @(Request["types"] == "2" ? "selected=selected" : "")>管理员账号</option>
                    <option value="3" @(Request["types"] == "3" ? "selected=selected" : "")>IP地址</option>
                </select>
            </div>
        </li>
        <li>
            <input name="searchKey" type="text" id="searchKey" placeholder="请输入关键字" value="@Request["searchKey"]" class="txtipt" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="searchlogtype" id="searchlogtype">
                    @foreach (var client in dictLogTypes)
                    {
                        <option value="@client.Key.ToString()" @(Request["logtype"] == client.Key.ToString() ? "selected=selected" : "")>@client.Value</option>
                    }
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="searchDesc" id="searchDesc">
                    <option value="1" @(string.IsNullOrEmpty(Request["sort"]) == true ? "" : "") @(Request["sort"] == "1" ? "selected=selected" : "")>降序</option>
                    <option value="0" @(Request["sort"] == "0" ? "selected=selected" : "")>升序</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary" href="javascript:" onclick="serchlocuserlog()">查询</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th>展开</th>
                    <th>用户ID</th>
                    <th>用户名称</th>
                    <th>类型</th>
                    <th style="text-align: left;">简短说明</th>
                    <th>日志时间</th>
                </tr>
            </thead>
            <tbody>
                @if (list.Count > 0)
                {
                    int id = 0;
                    string Icon = "Icon_";
                    string Open = "Open_";

                    foreach (var item in list)
                    {
                        id = id + 1;
                        Icon = "Icon_" + id;
                        Open = "Open_" + id;

                        <tr onclick="clickOpen(@id)">
                            <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp;&nbsp;</td>
                            <td>@item.l_user_id</td>
                            <td>@item.u_loginname</td>
                            <td>@item.l_logtype_id.ConvertAdminLogTypeTotString()</td>
                            <td style="text-align: left;">@item.l_sms</td>
                            <td>@item.l_time</td>
                        </tr>
                         <!--展开-->
                        <tr>
                            <td colspan="6" style="display:none;" name="Open" id="@Open">
                                <div class="dcnt-tab">
                                    <table class="table-lst">
                                        <tr>
                                            <td>IP地址:@item.l_ip</td>
                                            <td>IP位置:@item.l_location</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" title="@item.l_info">
                                                附加信息:@JMP.TOOL.RequestHelper.cutString(item.l_info, 100)<a class="popup-message-details" href="javascript:;" title='@item.l_info'>详情</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td align="center" colspan="6" class="nodata">暂无记录</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
<script type="text/javascript">
    function ArticleManage(pageIndex, pageSize) {
        var url = "/LOCLOG/LogList?pageIndexs=" + pageIndex + "&PageSize=" + pageSize;
        var types = $("#searchType  option:selected").val();
        var searchKey = $("#searchKey").val();
        var sort = $("#searchDesc  option:selected").val();
        var logtype = $("#searchlogtype  option:selected").val();
        url += "&types=" + types + "&searchKey=" + searchKey + "&sort=" + sort + "&logtype=" + logtype;
        location.href = encodeURI(url);
    }
    //选择每页显示数量
    function pagexz() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }
    //搜索管理员列表
    function serchlocuserlog() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }

    $('.popup-message-details').click(function() {
        var message = $(this).attr('title');
        window.top.PopupMessage(message);
    });

</script>
