@{
    ViewBag.Title = "商务日志";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_merchantlog>;
}

<div class="main mobile-container">
    <section class="sct-btn-tit">
        <a id="btn-show-search" class="btn btn-primary" onclick="pop.showSearch('search-container')">查询</a>
    </section>
    <div class="search-container">
        <select name="searchType" id="searchType" class="ui dropdown fluid fluid-block">
            <option value="1" @(string.IsNullOrEmpty(Request["types"]) == true ? "" : "") @(Request["types"] == "1" ? "selected=selected" : "")>商务编号</option>
            <option value="2" @(Request["types"] == "2" ? "selected=selected" : "")>商务账号</option>
            <option value="3" @(Request["types"] == "3" ? "selected=selected" : "")>IP地址</option>
        </select>
        <div class="ui input fluid fluid-block">
            <input name="searchKey" type="text" id="searchKey" placeholder="请输入关键字" value="@Request["searchKey"]" class="txtipt" />
        </div>
        <select name="searchlogtype" id="searchlogtype" class="ui dropdown fluid fluid-block">
            <option value="0" @(string.IsNullOrEmpty(Request["logtype"]) == true ? "selected=selected" : "") @(Request["logtype"] == "0" ? "selected=selected" : "")>日志类型</option>
            <option value="1" @(Request["logtype"] == "1" ? "selected=selected" : "")>注册</option>
            <option value="2" @(Request["logtype"] == "2" ? "selected=selected" : "")>登录</option>
            <option value="3" @(Request["logtype"] == "3" ? "selected=selected" : "")>操作</option>
            <option value="4" @(Request["logtype"] == "4" ? "selected=selected" : "")>错误日志</option>
        </select>
        <select name="search_Desc" id="search_Desc" class="ui dropdown fluid fluid-block">
            <option value="1" @(string.IsNullOrEmpty(Request["sort"]) == true ? "" : "") @(Request["sort"] == "1" ? "selected=selected" : "")>降序</option>
            <option value="0" @(Request["sort"] == "0" ? "selected=selected" : "")>升序</option>
        </select>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:" onclick="serchlocuserlog()">查询</a>

    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped white table-cnt" id="table">
            <thead>
                <tr>
                    <th>展开</th>
                    <th width="60">商务ID</th>
                    <th width="80">商务名称</th>
                    <th width="50">类型</th>
                    <th>简短说明</th>
                    <th width="120">日志时间</th>
                </tr>
            </thead>
            <tbody>
                @if (list.Count > 0)
                {
                    int id = 0;
                    string Icon = "Icon_";
                    string Open = "Open_";
                    foreach (var item in list)
                    {
                        id = id + 1;
                        Icon = "Icon_" + id;
                        Open = "Open_" + id;
                        <tr onclick="clickOpen(@id)">
                            <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp;&nbsp;</td>
                            <td>@item.l_user_id</td>
                            <td>@item.m_realname</td>

                            @* <td>@item.l_location</td>*@
                            @{
                                string str = "";
                                if (item.l_logtype_id == 1)
                                {
                                    str = "注册";
                                }
                                else if (item.l_logtype_id == 2)
                                {
                                    str = "登录";
                                }
                                else if (item.l_logtype_id == 3)
                                {
                                    str = "操作";
                                }
                                else
                                {
                                    str = "错误日志";
                                }
                            }
                            <td>@str</td>
                            <td>@item.l_sms</td>
                            <td>@item.l_time</td>
                        </tr>
                        <!--展开-->
                                <tr>
                                    <td colspan="6" style="display:none;" name="Open" id="@Open">
                                        <div class="dcnt-tab">
                                            <table class="table-lst">
                                                <tr>
                                                    <td>IP地址:@item.l_ip</td>
                                                </tr>
                                                <tr>
                                                    <td title="@item.l_info">附加信息:@JMP.TOOL.RequestHelper.cutString(item.l_info, 100)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td align="center" colspan="6" class="nodata">暂无记录</td>
                                    </tr>
                                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
</div>
<script type="text/javascript">
    function ArticleManage(pageIndex, pageSize) {
        var url = "/Merchant/MerchLog?pageIndexs=" + pageIndex + "&PageSize=" + pageSize;
        var types = $("#searchType  option:selected").val();
        var searchKey = $("#searchKey").val();
        var sort = $("#searchDesc  option:selected").val();
        var logtype = $("#searchlogtype  option:selected").val();
        url += "&types=" + types + "&searchKey=" + searchKey + "&sort=" + sort + "&logtype=" + logtype;
        location.href = encodeURI(url);
    }
    //选择每页显示数量
    function pagexz() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }
    //搜索管理员列表
    function serchlocuserlog() {
        var PageSize = $("#pagexz").val();
        ArticleManage(1, PageSize);
    }
</script>

