@{
    ViewBag.Title = "流失用户报表";
}
@JMP.TOOL.UserHelper.css("base.css")
@JMP.TOOL.UserHelper.css("user.css")
@JMP.TOOL.UserHelper.js("jquery.js")
@JMP.TOOL.UserHelper.js("base.js")
@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.js")
@JMP.TOOL.UserHelper.js("plugin/fusionchart/fusioncharts.theme.zune.js")
@JMP.TOOL.UserHelper.js("plugin/my97datepicker/WdatePicker.js")
<style type="text/css">
    .searchs .form .time {
        width: 110px;
        height: 30px;
        margin: 0;
        text-align: center;
        text-indent: 0;
    }

    .separate {
        float: left;
        margin: 0 5px;
        line-height: 38px;
    }
</style>
<div class="box_container" id="iframeheight" style="height: 650px">
    <div class="box_header">
        流失用户
           <div class="searchs">
               <div class="select">
                   <select id="sedatatype" onchange="xzselect()" style="width: 150px; float: left;">
                       <option value="0">连续7日不登陆</option>
                       <option value="1">连续14日不登陆</option>
                       <option value="2">连续30日不登陆</option>
                   </select>
                   </div>
                   <div class="select" style="margin-right:20px;margin-left:20px;">
                   <select id="stype" onchange="xzselect()" style="width: 150px; float: left;">
                       <option value="0">新增用户</option>
                       <option value="1">活跃用户</option>
                   </select>
               </div>
           </div>
    </div>
    <div class="searchs" style="height: 36px;">
        <form class="form" id="form" style="float: left;">
            @{Html.RenderAction("UserAppList", "Home");}
            <span class="separate">&nbsp;&nbsp;</span>
            <input name="stime" type="text" id="stime"  onFocus="WdatePicker({minDate:'@ViewBag.ksrq',maxDate:'#F{$dp.$D(\'etime\')||\'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")\'}'})"  readonly="readonly" class="time txt box-shadow-1" value="@ViewBag.stime"/>
            <span class="separate">-</span>
            <input name="etime" type="text" id="etime"   onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")'})" readonly="readonly" class="time txt box-shadow-1" value="@ViewBag.etime" />

            <a class="btn_search" id="btn_search"></a>
        </form>
    </div>
    <div id="chart" style="margin: 30px 0 0 10px"></div>
</div>
<script type="text/javascript">
    function FusionChart() {
        var winHeight = document.body.clientHeight - 200;
        var stime = $.trim($("#stime").val());
        var etime = $.trim($("#etime").val());
        var sedatatype = $.trim($("#sedatatype").val());
        var stype = $.trim($("#stype").val());
        var a_name = $.trim($("#s_applist option:selected").text());
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserReport/defectCount?stime=" + stime + "&etime=" + etime + "&sedatatype=" + sedatatype + "&stype=" + stype + "&a_name=" + $.trim(a_name),
            success: function (retJson) {
                if (retJson == "0") {
                    $("#chart").html("<div style='font-size:14px;color:#5e788a; font-weight:lighter; text-align:center; width:100%;'>未查询到符合条件的数据</div>");
                } else {
                    var data = eval('(' + retJson + ')');
                    var chart = new FusionCharts({
                        type: "mscombidy2d",
                        renderAt: "chart",
                        width: "100%",
                        height: winHeight + "px",
                        dataSource: data,
                        dataFormat: "json"
                    }).render();
                }
            }
        });
    }
    function xzselect() {
        FusionChart();
    }
    $(function () {
        FusionChart();
        $("#btn_search").click(function () {
            FusionChart();
        })
    });
</script>
