@{
    ViewBag.Title = "营收概况";
    Layout = "~/Views/UI/master.mobile.cshtml";

}
@JMP.TOOL.UserHelper.js("fusionchart/fusioncharts.js")
@JMP.TOOL.UserHelper.js("fusionchart/fusioncharts.theme.zune.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="mobile-container">
    <div id="ToolBar" class="report-toolbar">
        <ul class="report-toolbarul">
            <li>交易走势</li>
            <li>
                <ul class="tools">
                    <li id="date_0" class="selected" href="javascript:;" title="1">日</li><i class="none">/</i>
                    <li id="date_1" href="javascript:;">周</li><i class="none">/</i>
                    <li id="date_2" href="javascript:;">月</li>
                   
                </ul>
            </li>
        </ul>
       
    </div>
    <div class="searchdiv">
        <p id="btn-show-search" class="searchbtton" onclick="pop.showSearch('search-container')">查询条件</p>
    </div>
    <br />
    <div class="plate-tab-ul-wrap">
            <ul>
                <li><a id="show_0" href="javascript:;" class="selected">交易用户和金额</a></li>
                <li><a id="show_1" href="javascript:;">交易笔数</a></li>
            </ul>
        </div>
    <div class="search-container ui form">
        <select name="sType" id="sType" class="ui dropdown fluid fluid-block">
            <option value="0" @(Request["sType"] == "0" ? "selected=selected" : "")>应用名称</option>
            <option value="1" @(Request["sType"] == "1" ? "selected=selected" : "")>开发者邮箱</option>
        </select>
        <div class="ui input fluid fluid-block field">
            <input name="sKey" type="text" id="sKey" placeholder="请输入关键字" value="@Request["sKey"]" />
        </div>
        交易日期
        <div class="ui input fluid fluid-block field">
            <input name="stime" type="text" id="stime" class="txt-date" value="@(string.IsNullOrEmpty(Request["begin"]) ? DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd") : "")" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'etime\')}',minDate:'@DateTime.Now.ToString("yyyy-01-01")',dateFmt:'yyyy-MM-dd'})" />
        </div>
        至
        <div class="ui input fluid fluid-block field">
            <input name="etime" type="text" id="etime" class="txt-date" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")',dateFmt:'yyyy-MM-dd'})" value="@(string.IsNullOrEmpty(Request["end"]) ? DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") : "")" />
        </div>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:">查询</a>
    </div>
    <div class="table-container table-responsive">
        <div class="chart-main">
            <div id="chart"></div>
        </div>
    </div>
    <script type="text/javascript">
    //统计维度
    var showTypes = 0;
        //统计类型
        var sumTypes = 0;
        $(function () {
            //点击不同统计维度切换样式
            $(".tools li").each(function (index) {
                $(this).click(function () {
                    $(".tools li").removeClass("selected");
                    $(this).addClass("selected");
                    showTypes = this.id.substr(this.id.lastIndexOf("_") + 1, 1);
                    //alert(showTypes);
                    ChartMain();
                });
            });

            //点击卡片切换样式
            $(".plate-tab-ul-wrap a").each(function (index) {
                $(this).click(function () {
                    $(".plate-tab-ul-wrap a").removeClass("selected");
                    $(this).addClass("selected");
                    sumTypes = this.id.substr(this.id.lastIndexOf("_") + 1, 1);
                    // alert(sumTypes);
                    ChartMain();
                });
            });

            //查询按钮
            $("#btnSearch").click(function () {

                ChartMain();

            });

            //mainHeightAuto();
            ChartMain();
        });
        //营收概况
        function ChartMain() {
            var start = $("#stime").val();
            var ends = $("#etime").val();
            var sFields = $("#sType").val();
            var sKeys = $("#sKey").val();
            var queryParams = "showType=" + showTypes + "&sumType=" + sumTypes + "&begin=" + start + "&end=" + ends + "&sType=" + sFields + "&sKey=" + sKeys;
            var winHeight = $(window).height() - 280;
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/RevenueAnalysis/TradeMain?" + queryParams,
                success: function (retJson) {
                    if (retJson == "0") {
                        var childHtm = "<div style='font-size:18px;color:#cccccc; font-weight:lighter; text-align:center; width:100%;  margin-top:20px;'>未查询到符合条件的数据</div>";
                        $("#chart").html(childHtm);
                    } else {
                        var data = eval('(' + retJson + ')');
                        var chart = new FusionCharts({
                            type: "zoomline",
                            renderAt: "chart",
                            width: "100%",
                            height: winHeight + "px",
                            dataSource: data,
                            dataFormat: "json"
                        }).render();
                    }
                    // var indexs = parent.layer.getFrameIndex(window.name);
                    layer.closeAll();
                }
            });
        }
    </script>

</div>