@{
    ViewBag.Title = "订单异常核查管理";
    Layout = "~/Views/UI/master.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_order_audit>;
    int pageCount = ViewBag.pageCount;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("REPORT/OrderAuditList.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main">
    <ul id="ToolBar" class="frm-ul-tit clearfix">
        @Html.Raw(ViewBag.locUrl)
    </ul>
    <ul class="frm-ul clearfix">
        <li>
            <div class="rule-single-select">
                <select name="searchType" id="searchType">
                    <option value="1" @(ViewBag.type == 1 ? "selected='selected'" : "")>所属应用</option>
                    <option value="2" @(ViewBag.type == 2 ? "selected='selected'" : "")>订单号</option>
                    <option value="3" @(ViewBag.type == 3 ? "selected='selected'" : "")>订单表名</option>
                    <option value="4" @(ViewBag.type == 4 ? "selected='selected'" : "")>交易流水号</option>
                    <option value="5" @(ViewBag.type == 5 ? "selected='selected'" : "")>处理人</option>
                </select>
            </div>
        </li>
        <li>
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" class="txtipt" />
        </li>
        <li>
            <input name="stime" type="text" id="stime" class="dataipt txtipt" value="@(string.IsNullOrEmpty(ViewBag.stime)? DateTime.Now.ToString("yyyy-MM-dd"):ViewBag.stime)" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'etime\')}',dateFmt:'yyyy-MM-dd'})" />
            <i class="fg">~</i>
            <input name="etime" type="text" id="etime" class="dataipt txtipt" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'stime\')}',maxDate:'@DateTime.Now.ToString("yyyy-MM-dd")',dateFmt:'yyyy-MM-dd'})" value="@(string.IsNullOrEmpty(ViewBag.etime)? DateTime.Now.ToString("yyyy-MM-dd"):ViewBag.etime)" />
        </li>
        <li>
            <div class="rule-single-select">
                <select name="searchDesc" id="searchDesc">
                    <option value="0" @(ViewBag.searchDesc == 0 ? "selected='selected'" : "")>降序</option>
                    <option value="1" @(ViewBag.searchDesc == 1 ? "selected='selected'" : "")>升序</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="auditstate" id="auditstate">
                    <option value="" @(ViewBag.paymentstatus == "" ? "selected='selected'" : "")>支付状态</option>
                    <option value="0" @(ViewBag.paymentstatus == "0" ? "selected='selected'" : "")>新建</option>
                    <option value="1" @(ViewBag.paymentstatus == "1" ? "selected='selected'" : "")>已处理</option>
                </select>
            </div>
        </li>
        <li>
            <div class="rule-single-select">
                <select name="auditstate" id="auditstate">
                    <option value="" @(ViewBag.auditstate == "" ? "selected='selected'" : "")>处理状态</option>
                    <option value="0" @(ViewBag.auditstate == "0" ? "selected='selected'" : "")>未处理</option>
                    <option value="1" @(ViewBag.auditstate == "1" ? "selected='selected'" : "")>已处理</option>
                </select>
            </div>
        </li>
        <li>
            <a id="btnSearch" class="btn btn-primary btn-mgn" href="javascript:" onclick="serchlocuser()">查询</a>
            <a id="btnSearchdc" class="btn btn-primary" href="javascript:" onclick="Searchdc()">导出</a>
        </li>
    </ul>
    <div class="tab-dcnt">
        <table border="0" cellpadding="0" cellspacing="0" id="table" class="table-cnt">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" name="all" onclick="checkAll(this)" />
                    </th>
                    <th>展开</th>
                    <th width="100">所属应用</th>
                    <th>订单号</th>
                    <th>订单表名</th>
                    <th>错误消息</th>
                    <th>是否已处理</th>
                    <th>处理人</th>
                    <th>处理时间</th>
                    <th>处理结果</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        int id = 0;
                        string Icon = "Icon_";
                        string Open = "Open_";

                        foreach (var item in list)
                        {
                            id = id + 1;
                            Icon = "Icon_" + id;
                            Open = "Open_" + id;

                            <tr onclick="clickOpen(@id)">
                                <td>
                                    @if (Convert.ToInt32(item.is_processed) == 0)
                                    {
                                        <input type="checkbox" name="child" class="checkall" value="@item.id" />
                                    }
                                </td>
                                <td><i class="fa fa-plus-circle blue" name="Icon" id="@Icon"></i>&nbsp; &nbsp;</td>
                                <td>@item.a_name</td>
                                <td>@item.order_code</td>
                                <td>@item.order_table_name</td>
                                <td>@item.message</td>
                                <td>
                                    @{
                                        switch (Convert.ToInt32(item.is_processed))
                                        {

                                            case 0:
                                                <span class="red">未处理</span>
                                                break;
                                            case 1:
                                                <span class="green">已处理</span>
                                                break;
                                        }
                                    }
                                </td>
                                <td>@(!string.IsNullOrEmpty(item.processed_by) ? item.processed_by : "--")</td>
                                <td>
                                    @(!string.IsNullOrEmpty(item.processed_time.ToString()) ? DateTime.Parse(item.processed_time.ToString()).ToString("yyyy-MM-dd HH:mm:ss") : "---")
                                </td>

                                <td>@(!string.IsNullOrEmpty(item.processed_result) ? item.processed_result : "--")</td>
                                <td>
                                    @{
                                        bool getEdit = bll_limit.GetLocUserLimitVoids("/REPORT/InsertUpdateComplaint", JMP.TOOL.UserInfo.UserId.ToString(), int.Parse(JMP.TOOL.UserInfo.UserRoleId.ToString()));//编辑按钮
                                        if (getEdit)
                                        {

                                            if (Convert.ToInt32(item.is_processed) == 0)
                                            {
                                                <a href="javascript:" class='blue' onclick="complaintLC(@item.id)">处理</a>
                                            }
                                            else
                                            {
                                                <a>-----</a>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <!--展开部分-->
                            <tr>
                                <td colspan="11" style="display:none;" name="Open" id="@Open">
                                    <div class="dcnt-tab">
                                        <table class="table-lst">
                                            <tr>
                                                <td>交易流水号:@item.trade_no</td>
                                                <td>付款时间:@item.payment_time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                                <td>实际支付金额:@item.payment_amount</td>

                                            </tr>
                                            <tr>
                                                <td>支付状态:@item.payment_status</td>
                                                <td>
                                                    订单金额:@item.order_amount
                                                </td>
                                                <td>
                                                    创建时间:@item.created_on.ToString("yyyy-MM-dd HH:mm:ss")
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="center" colspan="11" class="nodata"> 暂无记录 </td>
                                            </tr>
                                        }

                }
            </tbody>
        </table>
    </div>
    <div class="clear10"></div>
    @JMP.TOOL.HtmlPage.Pagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, pageCount)
</div>
