@{
    ViewBag.Title = "消息管理";
    Layout = "~/Views/UI/master.mobile.cshtml";
    var list = ViewBag.list as List<JMP.MDL.jmp_message>;
    JMP.BLL.jmp_limit bll_limit = new JMP.BLL.jmp_limit();
}
@JMP.TOOL.UserHelper.js("mobile/MessageManagement/message.js")
<div class="main mobile-container">
    <div class="toolbar-container">
        <div id="ToolBar" class="frm-dcnt">
            <ul class="frm-ul-tit clearfix">
                @Html.Raw(ViewBag.locUrl)
                <li>
                    <a id="btn-show-search" class="btn" onclick="pop.showSearch('search-container')">查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-container">
        <div class="ui input fluid fluid-block">
            <input name="sea_name" type="text" id="sea_name" placeholder="请输入关键字" value="@(string.IsNullOrEmpty(ViewBag.sea_name) ? "" : ViewBag.sea_name)" />
        </div>
        
        <select name="searchType" id="searchType" class="ui dropdown fluid fluid-block">
            <option value="1" @(ViewBag.searchType == 1 ? "selected='selected'" : "")>公告编号</option>
            <option value="2" @(ViewBag.searchType == 2 ? "selected='selected'" : "")>发送者登陆邮箱</option>
        </select>
        <a id="btnSearch" class="ui button fluid big primary fluid-block" href="javascript:" onclick="serchlocuser()">查询</a>
    </div>
    <div class="table-container table-responsive">
        <table class="ui celled striped white table-cnt" id="table">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" name="all" onclick="checkAll(this)" /></th>
                    <th width="100">编号</th>
                    <th>发送人</th>
                    <th>发送类型</th>
                    <th>发送时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (list.Count > 0)
                    {
                        var getEdit = bll_limit.GetLocUserLimitVoids("/MessageManagement/insertOrUpdatenotice", JMP.TOOL.UserInfo.UserId.ToString(), JMP.TOOL.UserInfo.UserRoleId);//编辑按钮
                        var getView = bll_limit.GetLocUserLimitVoids("/MessageManagement/ReplyMessageUser", JMP.TOOL.UserInfo.UserId.ToString(),JMP.TOOL.UserInfo.UserRoleId);//编辑按钮
                        foreach (var item in list)
                        {
                    <tr>
                        <td>
                            <input type="checkbox" name="child" class="checkall" value="@item.m_id" /></td>
                        <td>@item.m_id</td>
                        <td>@item.u_loginname</td>
                        <td>@{ 
                            switch (item.m_type)
                            {
                                case 1:
                            <span>系统消息</span>
                                    break;
                                case 2:
                            <span>开发者</span>
                                    break;
                                case 3:
                            <span>回复开发者</span>
                                    break;
                            } 
                                
                        }</td>
                        <td>@item.m_time.ToString("yyyy-MM-dd")</td>
                        <td>
                            @{
                            if (item.m_type == 1)
                            {
                                if (getEdit)
                                {
                                    <a href="javascript:" onclick="Updatemessage(@item.m_id)" class="blue">编辑</a> 
                                }
                            }
                            else
                            {
                                if (getView)
                                {
                                <a href="/MessageManagement/ReplyMessage?topid=@item.m_topid" class="blue">查看</a> 
                                }
                            }
                            }
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                    <tr>
                        <td align="center" colspan="10" class="nodata">暂无记录</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @JMP.TOOL.HtmlPage.MobilePagers("ArticleManage", ViewBag.pageIndexs, ViewBag.PageSize, ViewBag.pageCount)
    <script type="text/javascript">
        $(function() {
            $("#btn_toggle_view").click(function() {
                $(".table-container table").toggleClass("table");
            });
        });
    </script>
</div>
